@import helper._
@import org.ieee_passau.controllers.routes
@import org.ieee_passau.models.{Admin, User}
@import org.ieee_passau.views.html.main
@import play.api.mvc.{Flash, RequestHeader}
@(files: Seq[String], highlight: String)(implicit flash: Flash, sessionUser: Option[User], requestHeader: RequestHeader, messages: Messages, messagesApi: MessagesApi)

@main(messages("assets.title")) {
    <h3>@messages("assets.title")</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>@messages("general.file")</th>
                <th>@messages("general.link")</th>
                <th>@messages("assets.preview")</th>
                @if(sessionUser.isDefined && sessionUser.get.permission.includes(Admin)) {
                    <th></th>
                }
            </tr>
        </thead>
        <tbody>
        @files.map { filename =>
            <tr class="@if(highlight == filename) {success}">
                <td><a href="@routes.MasterController.staticFile(filename)">@filename</a></td>
                @if(filename.endsWith(".png") || filename.endsWith(".jpeg") || filename.endsWith(".jpg") || filename.endsWith(".gif")) {
                    <td>@("<img src=" + routes.MasterController.staticFile(filename) + " alt=\"" + filename + "\">")</td>
                    <td><img src="@routes.MasterController.staticFile(filename)" alt="@filename" width="200px"></td>
                } else {
                    <td>@("<a href=" + routes.MasterController.staticFile(filename) + ">" + filename + "</a>")</td>
                    <td></td>
                }
                @if(sessionUser.isDefined && sessionUser.get.permission.includes(Admin)) {
                    <td>
                        <form style="display: inline" method="POST" action="@org.ieee_passau.controllers.routes.CmsController.deleteFile(filename)">
                            @CSRF.formField
                            <button type="submit" onclick="return(window.confirm('@messages("general.delete.confirm")'))" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></button>
                        </form>
                    </td>
                }
            </tr>
        }
        @if(sessionUser.get.permission.includes(Admin)) {
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <a href="@org.ieee_passau.controllers.routes.CmsController.addFile()" class="btn btn-default">
                        <span class="glyphicon glyphicon-upload"></span> @messages("assets.add")
                    </a>
                </td>
            </tr>
        }
        </tbody>
    </table>
}
