@import java.util.Date
@import helper._
@import org.ieee_passau.models.User
@import org.ieee_passau.views.html.main
@import play.api.i18n.{Lang, Messages}
@import play.api.mvc.{Flash, RequestHeader}
@import play.twirl.api.TemplateMagic._
@import scala.language.implicitConversions
@(list: List[(Int, Int, Int, Int, String, String, Int, String, Date, Option[Date])])(implicit flash: Flash, sessionUser: Option[User], requestHeader: RequestHeader, lang: Lang)

@main(Messages("nav.admin.evalqueue")) {
    <table class="table table-striped">
        <thead>
            <tr>
                <th>@Messages("submission.title") / @Messages("testcase.title") / @Messages("evaltask.title")</th>
                <th>@Messages("problem.title")</th>
                <th>@Messages("user.title")</th>
                <th>@Messages("submission.codelang")</th>
                <th>@Messages("general.createdate")</th>
                <th>@Messages("status.evalstate.title")</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @list.map {case (rid, sid, cid, stage, language, user, door, title, dateSub, dateQueued) =>
            <tr>
                <td><a href="@org.ieee_passau.controllers.routes.EvaluationController.details(sid)">@sid</a> / @cid / @stage</td>
                <td>@door @title</td>
                <td>@user</td>
                <td>@language</td>
                <td><abbr class="timeago" title="@dateSub.format("yyyy-MM-dd'T'HH:mmZ")">@dateSub.format("dd.MM.yyyy HH:mm")</abbr></td>
                <td>@if(dateQueued.isDefined) {
                    @Messages("status.evalstate.assigned") <abbr class="timeago" title="@dateQueued.get.format("yyyy-MM-dd'T'HH:mmZ")">@dateQueued.get.format("dd.MM.yyyy HH:mm")</abbr>
                } else {
                    @Messages("status.evalstate.pending")
                }</td>
                <td>
                    <form style="display: inline" method="POST" action="@org.ieee_passau.controllers.routes.EvaluationController.cancel(rid)">
                        @CSRF.formField
                        <button type="submit" onclick="return(window.confirm('@Messages("status.resubmit.warning")'))" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></button>
                    </form>
                </td>
            </tr>
        }
        </tbody>
    </table>
}
