@import java.util.Date
@import helper._
@import org.ieee_passau.models.User
@import org.ieee_passau.views.html.main
@import play.api.mvc.{Flash, RequestHeader}
@import scala.language.implicitConversions
@(list: List[(Int, Int, Int, Int, String, String, Int, String, Date, Option[Date])])(implicit flash: Flash, sessionUser: Option[User], requestHeader: RequestHeader, messages: Messages)

@main(messages("nav.admin.evalqueue")) {
    <form style="display: inline" method="POST" class="form-horizontal" action="@org.ieee_passau.controllers.routes.EvaluationController.cancelAll">
        <div class="form-group">
            @CSRF.formField
            <button type="submit" onclick="return (window.confirm('@messages("eval.jobs.cancelall.confirm")'))" class="btn btn-danger pull-right">
            @messages("eval.jobs.cancelall.button")
            </button>
        </div>
    </form>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>@messages("submission.title") / @messages("testcase.title") / @messages("evaltask.title")</th>
                <th>@messages("problem.title")</th>
                <th>@messages("user.title")</th>
                <th>@messages("codelang.title")</th>
                <th>@messages("general.createdate")</th>
                <th>@messages("eval.jobs.state.title")</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @list.map {case (rid, sid, cid, stage, language, user, door, title, dateSub, dateQueued) =>
            <tr>
                <td><a href="@org.ieee_passau.controllers.routes.EvaluationController.details(sid)">@sid</a> / @cid / @stage</td>
                <td>@door @title</td>
                <td>@user</td>
                <td>@language</td>
                <td><abbr class="timeago" title="@dateSub.format("yyyy-MM-dd'T'HH:mm:ssZ")">@dateSub.format("yyyy-MM-dd HH:mm:ss")</abbr></td>
                <td>@if(dateQueued.isDefined) {
                    @messages("eval.jobs.state.assigned") <abbr class="timeago" title="@dateQueued.get.format("yyyy-MM-dd'T'HH:mm:ssZ")">@dateQueued.get.format("yyyy-MM-dd HH:mm:ss")</abbr>
                } else {
                    @messages("eval.jobs.state.pending")
                }</td>
                <td>
                    <form style="display: inline" method="POST" action="@org.ieee_passau.controllers.routes.EvaluationController.cancel(rid)">
                        @CSRF.formField
                        <button type="submit" onclick="return(window.confirm('@messages("eval.jobs.cancel.confirm")'))" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></button>
                    </form>
                </td>
            </tr>
        }
        </tbody>
    </table>
}
