@import helper._
@import org.ieee_passau.models.{Posting, User}
@import org.ieee_passau.utils.LanguageHelper
@import org.ieee_passau.views.html.main
@import play.api.i18n.{Lang, Messages}
@import play.api.mvc.{Flash, RequestHeader}
@import play.twirl.api.Html
@(running: Boolean, statusMessage: String, postings: Map[Int, List[Posting]])(implicit flash: Flash, sessionUser: Option[User], requestHeader: RequestHeader, lang: Lang)

@main(Messages("nav.admin.postings")) {
    <h3>@Messages("status.title")</h3>
    @if(running) {
        <form style="display: inline" method="POST" action="@org.ieee_passau.controllers.routes.EvaluationController.playPause">
            @CSRF.formField
            <div class="well">
                <fieldset>
                    <input type="hidden" name="state" value="false"/>
                    <div class="form-group"><div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-danger pull-right"><span class="glyphicon glyphicon-pause"></span> @Messages("status.eval.stop")</button>
                    </div></div>
                </fieldset>
            </div>
        </form>
    } else {
        <form style="display: inline" method="POST" action="@org.ieee_passau.controllers.routes.EvaluationController.playPause">
            @CSRF.formField
            <div class="well alert-danger">
                <fieldset>
                    <input type="hidden" name="state" value="true"/>
                    @Html(statusMessage)
                    <div class="form-group"><div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success pull-right"><span class="glyphicon glyphicon-play"></span> @Messages("status.eval.start")</button>
                    </div></div>
                </fieldset>
            </div>
        </form>
    }

    <h3>@Messages("posting.edit")</h3>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>@Messages("posting.post.title")</th>
                <th>@Messages("posting.post.default")</th>
                <th>@Messages("posting.post.trans")</th>
            </tr>
        </thead>
        <tbody>
        @postings.toList.sortBy(_._1).map { case (id, list) =>
            <tr>
                <td>
                    @Messages(list.head.title)
                </td>
                <td>
                    @Messages("language.icon")(LanguageHelper.defaultLanguage)
                    <a href="@org.ieee_passau.controllers.routes.EvaluationController.editPage(id, LanguageHelper.defaultLanguage.code)" class="btn btn-default">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                </td>
                <td>
                    @list.filter(!_.lang.equals(LanguageHelper.defaultLanguage)).map { p =>
                    @Messages("language.icon")(p.lang)
                    <a href="@org.ieee_passau.controllers.routes.EvaluationController.editPage(id, p.lang.code)" class="btn btn-default">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    }

                    <a href="@org.ieee_passau.controllers.routes.EvaluationController.createPage(id)" class="btn btn-default">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </td>
            </tr>
        }
        </tbody>
    </table>
}
