@import helper._
@import org.ieee_passau.models.{Posting, User}
@import org.ieee_passau.views.html.bootstrap3.{buttonSave, text, textareaBs}
@import org.ieee_passau.views.html.main
@import play.api.data.Form
@import play.api.i18n.{Lang, Messages}
@import play.api.mvc.{Flash, RequestHeader}
@(id: Int, lng: String, post: Form[Posting])(implicit flash: Flash, sessionUser: Option[User], requestHeader: RequestHeader, lang: Lang)

@main(Messages("nav.admin.postings")) {
    <ol class="breadcrumb">
        <li><a href="@org.ieee_passau.controllers.routes.EvaluationController.maintenance">@Messages("nav.admin.postings")</a></li>
        <li class="active">@Messages("posting.page")</li>
    </ol>

    <div class="well">
        <form class="form-horizontal" method="POST" action="@org.ieee_passau.controllers.routes.EvaluationController.changePage(id, lng)">
            <fieldset>
                @CSRF.formField
                <input type="hidden" name="id" value="@id" />

                @text(post("lang"), label = Messages("general.language"), placeholder="en")
                <div class="form-group">
                    <label class="col-sm-2 control-label">@Messages("posting.post.title")</label>
                    <div class="col-sm-10">
                        <input type="text"
                        class="form-control"
                        id="title"
                        name="title"
                        value="@Messages(post("title").value.getOrElse(""))(Lang(post("lang").value.get))"
                        disabled/>
                        <input type="hidden" name="title" value="@post("title").value.getOrElse("")" />
                        <span class="help-block"></span>
                    </div>
                </div>
                @textareaBs(post("content"),  label = Messages("posting.post.content"), placeholder = Messages("posting.post.content"), wysiwyg = true)

                @buttonSave()
            </fieldset>
        </form>
    </div>
}
