@import helper._
@import org.ieee_passau.models.{Posting, User}
@import org.ieee_passau.views.html.bootstrap3.{buttonSave, text, textareaBs}
@import org.ieee_passau.views.html.main
@import play.api.data.Form
@import play.api.i18n.{Lang, Messages}
@import play.api.mvc.{Flash, RequestHeader}
@(id: Int, lng: String, post: Form[Posting])(implicit flash: Flash, sessionUser: Option[User], requestHeader: RequestHeader, lang: Lang)

@main(Messages("nav.admin.postings")) {
    <h3></h3>
    <div class="well">
        <form style="display: inline" method="POST" action="@org.ieee_passau.controllers.routes.EvaluationController.changePage(id, lng)">
            @CSRF.formField
            <input type="hidden" name="id" value="@id" />
            <fieldset>
                @text(post("lang"), label = "Sprache", placeholder="en")
                @text(post("title"), label = "Titel", placeholder = "Titel")
                @textareaBs(post("content"),  label = "Inhalt", placeholder = "Inhalt", wysiwyg = true)

                @buttonSave()
            </fieldset>
        </form>
    </div>
}