@import helper._
@import org.ieee_passau.models.User
@import org.ieee_passau.views.html.bootstrap3.{buttonSave, fileinput}
@import org.ieee_passau.views.html.main
@import play.api.mvc.{Flash, RequestHeader}
@()(implicit flash: Flash, sessionUser: Option[User], requestHeader: RequestHeader, messages: Messages, messagesApi: MessagesApi)

@main(messages("assets.add")) {
    <ol class="breadcrumb">
        <li><a href="@org.ieee_passau.controllers.routes.CmsController.maintenance">@messages("nav.admin.postings")</a></li>
        <li class="active">@messages("assets.title")</li>
    </ol>

    <form id="assetForm" action="#" method="post" enctype="multipart/form-data" class="form-horizontal">
        @CSRF.formField
        <fieldset>
            <div class="well">
                <fieldset>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">@messages("general.file")</label>
                        <div class="col-sm-10">
                            @fileinput("file", "file")
                        </div>
                    </div>

                    @buttonSave()
                </fieldset>

            </div>
        </fieldset>
    </form>
}
