@import org.ieee_passau.controllers.Beans.VMStatus
@import org.ieee_passau.models.User
@import org.ieee_passau.views.html.main
@import play.api.i18n.{Lang, MessagesApi}
@import play.api.mvc.Flash
@import play.twirl.api.TemplateMagic._
@import scala.language.implicitConversions
@(running: Boolean, vms: List[(String, Int, VMStatus)])(implicit flash: Flash, sessionUser: Option[User], requestHeader: RequestHeader, messagesApi: MessagesApi, lang: Lang)

@main(messagesApi("status.vms.title")) {
    @if(!running) {
        <div class="well alert-danger">
            @messagesApi("status.paused")
        </div>
    }
    <table class="table table-striped">
        <thead>
            <tr>
                <th>@messagesApi("status.vm.id")</th>
                <th>@messagesApi("status.vms.uri")</th>
                <th>@messagesApi("status.vms.numberofusers")</th>
                <th>@messagesApi("status.vms.load")</th>
                <th>@messagesApi("status.vms.memory")</th>
                <th>@messagesApi("status.vms.lastheartbeat")</th>
            </tr>
        </thead>
        <tbody>
        @vms.map { vm =>
            <tr>
                <td>@vm._1</td>
                <td>@vm._3.uri</td>
                <td>@vm._3.users</td>
                <td>@vm._3.load</td>
                <td>@vm._3.mem</td>
                <td><abbr class="timeago" title="@vm._3.ts.format("yyyy-MM-dd'T'HH:mm:ssZ")">@vm._3.ts.format("yyyy-MM-dd HH:mm:ss")</abbr></td>
            </tr>
        }
        </tbody>
    </table>
}
