@import org.ieee_passau.controllers.Beans.VMStatus
@import org.ieee_passau.models.User
@import org.ieee_passau.views.html.main
@(running: Boolean, vms: List[(String, Int, VMStatus)])(implicit flash: Flash, sessionUser: Option[User], requestHeader: RequestHeader)

@main("Evaluation VMs") {
    @if(!running) {
        <div class="well alert-danger">
            Aktuell ist das System angehalten
        </div>
    }
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Angemeldete Benuzer</th>
                <th>Last</th>
                <th>Speicher</th>
                <th>Letzte Rückmeldung</th>
            </tr>
        </thead>
        <tbody>
        @vms.map { vm =>
            <tr>
                <td>@vm._1</td>
                <td>@vm._3.users</td>
                <td>@vm._3.load</td>
                <td>@vm._3.mem</td>
                <td><abbr class="timeago" title="@vm._3.ts.format("yyyy-MM-dd'T'HH:mmZ")">@vm._3.ts.format("dd.MM.yyyy HH:mm")</abbr></td>
            </tr>
        }
        </tbody>
    </table>
}