@import org.ieee_passau.models.User
@import org.ieee_passau.views.html.main
@()(implicit flash: Flash, sessionUser: Option[User])

@main("Kontakt") {
    <p>
        Wenn du Probleme bei der Nutzung der Seite hast, sag uns einfach Bescheid.
        Wir werden versuchen dir schnellstmöglich zu helfen.
        Du erreichst uns über folgende E-Mail Adresse:
        <a href="mailto:adventskalender@@ieee.students.uni-passau.de">adventskalender@@ieee.students.uni-passau.de</a>
    </p>

    <p>Internet: <a href="http://ieee.uni-passau.de">http://ieee.uni-passau.de</a></p>

    <p><a href="https://ieee.uni-passau.de/pages/contact/">Impressum</a></p>
}
