@import org.ieee_passau.models.User
@import org.ieee_passau.views.html.main
@()(implicit flash: Flash, sessionUser: Option[User])

@main("Beispielprogramme") {
    <p>Hier findest du eine Reihe von Beispielprogrammen, welche anhand einer einfachen Aufgabe demonstrieren wie die Ein- und Ausgabe implementiert werden kann.</p>

    <h3>Aufgabe</h3>
    <p>Deine Aufgabe ist es, ein Programm zu entwickeln, welches eine Liste von Zahlen einliest, die Quersumme jeder Zahl berechnet, und diese dann ausgibt.</p>

    <h4>Eingabe</h4>
    <p>Die erste Zeile der Eingabe beschreibt, wie oft eine Quersumme bestimmt werden muss (1 &le; n &le; 1000). Nach der ersten Zeile folgen n weitere Zeilen. Jede dieser Zeilen enthält ausschließlich Ziffern. Die Anzahl der Ziffern pro Zeile ist auf (1 &le; z &le; 50) begrenzt.</p>

    <h4>Ausgabe</h4>
    <p>Zu jeder eingegebenen Zeile muss die entsprechende Quersumme ausgegeben werden. Jede Quersumme muss auf einer eigenen Zeile ausgegeben werden: Es muss also nach jeder Quersumme, auch der letzten, ein Newline (\n oder \r\n) ausgegeben werden.</p>

    <h4>Beispiel</h4>
    <h5>Eingabe</h5>
    <pre>5
00001
1234
0101
5005
22</pre>

    <h5>Ausgabe</h5>
    <pre>1
10
2
10
4</pre>

    <h3>Implementierungen</h3>

    <h4>Java</h4>
    <pre><code class="java">import java.util.Scanner;

public class Solution {

    public static void main(String[] args) {
        Scanner in = new Scanner(System.in);
        int numTestcases = Integer.parseInt(in.nextLine());

        for (int i = 0; i < numTestcases; i++) {
            String testcase = in.nextLine();
            int result = 0;
            for (int j = 0; j < testcase.length(); j++) {
                char c = testcase.charAt(j);
                result += Character.getNumericValue(c);
            }
            System.out.println(result);
        }
     }

}
    </code></pre>

    <h4>PHP</h4>
    <pre><code class="php">&lt;?php

$num_testcases = intval(fgets(STDIN));

for ($i = 0; $i &lt; $num_testcases; $i++) {
    $testcase = fgets(STDIN);

    // remove newline character at the end of $testcase
    $testcase = trim($testcase);

    $result = 0;
    for ($j = 0; $j &lt; strlen($testcase); $j++) {
        $result += intval($testcase[$j]);
    }

    print($result."\n");
}
    </code></pre>

    <h4>JavaScript</h4>
    <pre><code class="javascript">var readline = require("readline");
var rl = readline.createInterface({
    input: process.stdin,
    output: process.stdout
});

function solve(testcase) {
    var sum = 0;
    for (var i = 0; i &lt; testcase.length; i++) {
        sum += parseInt(testcase.charAt(i));
    }
    return sum;
}

var numTestcases = null;
var done = 0;

rl.on("line", function(line) {
    if (numTestcases === null) {
        numTestcases = parseInt(line);
    } else if (done &lt; numTestcases) {
        var solution = solve(line);
        process.stdout.write(solution + "\n");
        done++;
    }
});
    </code></pre>

    <h4>Python 2</h4>
    <pre><code class="python">num_testcases = int(raw_input())

for _ in xrange(num_testcases):
    testcase = raw_input()
    result = 0
    for digit in testcase:
        result += int(digit)
    print result
    </code></pre>

    <h4>Python 3</h4>
    <pre><code class="python">num_testcases = int(input())

for _ in range(num_testcases):
    testcase = input()
    result = 0
    for digit in testcase:
        result += int(digit)
    print(result)
    </code></pre>

    <h4>C</h4>
    <pre><code class="c">#include &lt;stdio.h&gt;

int main(int argv, int** argc) {
    int num_testcases;
    fscanf(stdin,"%d\n", &num_testcases);

    for(int i = 0; i &lt; num_testcases; i++) {
        int sum = 0;
        int j;

        while((j = fgetc(stdin)) != '\n') {
            if(j == EOF) return 1;
            // note: ascii values for '0'-'9' are 48-57
            sum += j - 48;
        }

        printf("%d\n", sum);
    }
}
    </code></pre>

    <h4>C++</h4>
    <pre><code class="cpp">#include &lt;iostream&gt;

using namespace std;

int main() {
    int num_testcases;
    cin &gt;&gt; num_testcases;

    for(int i = 0; i &lt; num_testcases; i++) {
        string number;
        cin &gt;&gt; number;

        int sum = 0;
        for (int j = 0; j &lt; number.size(); j++){
            // note: ascii values for '0'-'9' are 48-57
            sum += number[j] - 48;
        }

        cout &lt;&lt; sum &lt;&lt; endl;
    }
}
    </code></pre>

    <h4>Ruby</h4>
    <pre><code class="ruby">num_testcases = gets.to_i

for _ in 1..num_testcases
    testcase = gets
    result = 0
    for i in 0..testcase.length
        result += testcase[i].to_i
    end
    puts result
end
    </code></pre>

    <h4>Perl</h4>
    <pre><code class="perl">use strict;
use warnings;

my $num_testcases = &lt;STDIN&gt;;

for (my $i = 0; $i &lt; $num_testcases; $i++) {
    my $testcase = &lt;STDIN&gt;;

    # remove newline character at the end of $testcase
    chomp($testcase);

    my $result = 0;
    for (my $j = 0; $j &lt; length($testcase); $j++) {
        $result += substr($testcase, $j, 1);
    }
    print($result."\n");
}
    </code></pre>

    <h4>Scala</h4>
    <pre><code class="scala">import scala.io.StdIn

object Solution {

    def main(args: Array[String]): Unit = {
        val numTestcases = StdIn.readInt()

        for (_ <- 1 to numTestcases) {
            val testcase = StdIn.readLine()
            var result = 0
            for (c <- testcase) {
                result += c.asDigit
            }
            println(result)
        }
    }

}
    </code></pre>

    <h4>Haskell</h4>
    <pre><code class="haskell">--
-- Quersummen-Aufgabe
--
-- Aufruf mittels
--    ghc -e main QSum1.hs
-- ("-e main" ruft die Funktion "main" als Programmeintrittspunkt auf).
--
-- Alternativ: Programm kompilieren mit
--    ghc -o qsum1 QSum1.hs
-- und dann mittels
--    ./qsum1
-- das Kompilat starten.
--

--
-- Loesung fuer die Quersummen-Aufgabe.
--
solution :: String -> String
solution input = output
    where
      -- Teile die gesamte Eingabe (input) in die einzelnen Zeilen
      -- auf mit Hilfe der Funktion lines :: String -> [String].
      inputLines :: [String]
      inputLines = lines input

      -- "head inputLines" ist die erste eingegebene Zahl (= Anzahl
      -- der Quersummenberechnungen, die durchgefuehrt werden sollen).
      -- Mittels "read" wird aus dem String ein Int.
      count :: Int
      count = read (head inputLines)

      -- Die Zahlen, fuer die die Quersummen berechnet werden sollen,
      -- folgen der Anzahl (daher "tail inputLines"). Davon nehmen wir
      -- "count" viele und wandeln alle Strings in Integer um
      -- (mittels "read").
      numbers :: [Integer]
      numbers = map read (take count (tail inputLines))

      -- Berechne fuer jede der eingegebenen Zahlen die Quersumme.
      qsums :: [Integer]
      qsums = map qsum numbers

      -- Wandle (mittels "show") die berechneten Quersummen in Strings um.
      outputLines :: [String]
      outputLines = map show qsums

      -- Setze die Ausgabe-Strings mittels "unlines :: [String] -> String"
      -- zur Ausgabe zusammen. unlines fuegt nach jedem String ein
      -- Newline ("\n") hinzu, auch nach dem letzten String.
      output :: String
      output = unlines outputLines

-- Klassische (nicht-iterierte) Quersummenberechnung
-- fuer nicht-negative Zahlen.
qsum :: Integer -> Integer
qsum x
    | x < 10     =  x
    | otherwise  =  (x `mod` 10) + qsum (x `div` 10)

--
-- Programmeintrittspunkt: "main"
-- Die Funktion "main" muss die Signatur "IO ()" haben.
-- Die Funktion "interact :: (String -> String) -> IO ()"
-- nimmt als Argument (hier: "solution") eine Funktion (von String
-- nach String), an die dann die gesamte Eingabe (als String) uebergeben
-- wird und die die Ausgabe (ebenfalls als String) produziert.
--
main :: IO ()
main = interact solution
    </code></pre>

    <h4>C#</h4>
    <pre><code class="csharp">using System;

public class Solution {

    public static void Main(string[] args) {
        int numTc;
        // Read a line from STDIN
        string input = Console.ReadLine();

        /*
        * Parse the number of test cases by providing its textual
        * representation and the target int variable (the latter as an
        * output parameter);
        *
        * Instead of throwing an exception, int.TryParse returns false if
        * the given input string is not an integer value.
        */
        if (!int.TryParse(input, out numTc) || numTc &lt; 1 || numTc &gt; 1000) {
            // Write error message to STDERR
            Console.Error.WriteLine("Malformed testcase count!");
            return;
        }

        for (int i = 0; i &lt; numTc; ++i) {
            string testCase = Console.ReadLine();
            // Compute result and write to STDOUT
            int sum = computeSum(testCase);
            Console.WriteLine(sum);
        }
    }

    private static int computeSum(string digitString) {
        int sum = 0;
        foreach (char c in digitString) {
            if (c &gt;= '0' && c &lt;= '9') {
                sum += c - '0';
            } else {
                throw new ArgumentException("Not a digit!");
            }
        }
        return sum;
    }

}
    </code></pre>
}