@import org.ieee_passau.models.{User, Page}
@import org.ieee_passau.views.html.main
@import play.api.i18n.{Lang, Messages}
@import play.api.mvc.Flash
@import play.twirl.api.Html
@import play.api.mvc.RequestHeader
@()(implicit flash: Flash, sessionUser: Option[User], requestHeader: RequestHeader,  lang: Lang, request: RequestHeader)

@main(Messages("error.404.short")) {
    <p>@Html(Messages("error.404.long", org.ieee_passau.controllers.routes.MainController.content(Page.contact.toString)))</p>
}(Flash.emptyCookie, sessionUser, request, lang)
