@import org.ieee_passau.models.{User, Page}
@import org.ieee_passau.views.html.main
@import play.api.i18n.{Lang, MessagesApi}
@import play.api.mvc.Flash
@import play.twirl.api.Html
@import play.api.mvc.RequestHeader
@(errorID: Option[String])(implicit flash: Flash, sessionUser: Option[User], request: RequestHeader, messagesApi: MessagesApi, lang: Lang)

@main(messagesApi("error.500.short")) {
    <p>
        @Html(messagesApi("error.500.long", org.ieee_passau.controllers.routes.CmsController.content(Page.contact.toString)))
        @if(errorID.isDefined) { @Html(messagesApi("error.500.code", errorID.get)) }
    </p>
<p>
............................................________ <br />
....................................,.-'"...................``~., <br />
.............................,.-"..................................."-., <br />
.........................,/...............................................":, <br />
.....................,?......................................................, <br />
.................../...........................................................,&#125; <br />
................./......................................................,:`^`..&#125; <br />
.............../...................................................,:"........./ <br />
..............?.....__.........................................:`.........../ <br />
............./__.(....."~-,_..............................,:`........../ <br />
.........../(_...."~,_........"~,_....................,:`........_/ <br />
..........&#123;.._$;_......"=,_......."-,_.......,.-~-,&#125;,.~";/....&#125; <br />
...........((.....*~_......."=-._......";,,./`..../"............../ <br />
...,,,___.`~,......"~.,....................`.....&#125;............../ <br />
............(....`=-,,.......`........................(......;_,,-" <br />
............/.`~,......`-...................................../ <br />
.............`~.*-,.....................................|,./.....,__ <br />
,,_..........&#125;.>-._...................................|..............`=~-, <br />
.....`=~-,__......`,................................. <br />
...................`=~-,,.,............................... <br />
................................`:,,...........................`..............__ <br />
.....................................`=-,...................,%`>--==`` <br />
........................................_..........._,-%.......` <br />
...................................,
</p>
}(Flash.emptyCookie, sessionUser, request, messagesApi, lang)
