@import org.ieee_passau.models.User
@import org.ieee_passau.views.html.main
@(errorID: Option[String])(implicit flash: Flash, sessionUser: Option[User], lang: Lang)

@main("Interner Fehler") {
    <p>
        Oha, da ist wohl etwas schief gelaufen.
        Was auch immer du gerade getan hast, probiere es am besten in ein paar Minuten noch einmal.
        Solltest du dann immer noch auf diesen Fehler stoßen,
        lass es uns <a href="@org.ieee_passau.controllers.routes.MainController.contact">wissen</a>.
        @if(errorID.isDefined) { Erwähne bitte in deiner Mail die Fehlernummer <strong>@errorID.get</strong>! }
    </p>
<p>
............................................________ <br />
....................................,.-'"...................``~., <br />
.............................,.-"..................................."-., <br />
.........................,/...............................................":, <br />
.....................,?......................................................, <br />
.................../...........................................................,&#125; <br />
................./......................................................,:`^`..&#125; <br />
.............../...................................................,:"........./ <br />
..............?.....__.........................................:`.........../ <br />
............./__.(....."~-,_..............................,:`........../ <br />
.........../(_...."~,_........"~,_....................,:`........_/ <br />
..........&#123;.._$;_......"=,_......."-,_.......,.-~-,&#125;,.~";/....&#125; <br />
...........((.....*~_......."=-._......";,,./`..../"............../ <br />
...,,,___.`~,......"~.,....................`.....&#125;............../ <br />
............(....`=-,,.......`........................(......;_,,-" <br />
............/.`~,......`-...................................../ <br />
.............`~.*-,.....................................|,./.....,__ <br />
,,_..........&#125;.>-._...................................|..............`=~-, <br />
.....`=~-,__......`,................................. <br />
...................`=~-,,.,............................... <br />
................................`:,,...........................`..............__ <br />
.....................................`=-,...................,%`>--==`` <br />
........................................_..........._,-%.......` <br />
...................................,
</p>
}
