@import org.ieee_passau.models.{Posting, Problem, User}
@import org.ieee_passau.views.html.main
@import play.api.mvc.Flash
@import play.twirl.api.Html
@(posting: Posting, problems: List[Problem], notification: (String, String))(implicit flash: Flash, sessionUser: Option[User], requestHeader: RequestHeader, messages: Messages)

@main(messages(posting.title), isFullPage = true) {
    @Html(posting.content)

    <h3>@messages("frontpage.greeting")</h3>
    <hr>

    <div id="calendar">
        <div class="aspect-ratio"></div>
        <div class="content">
        @problems.map { problem =>
            <a href="@org.ieee_passau.controllers.routes.MainController.problemDetails(problem.door)" title="@problem.title" id="door@problem.door" class="active">@problem.door</a>
        }
        </div>
    </div>
    <small>@Html(messages("frontpage.pic.source"))</small>
}(flash = (flash + notification), sessionUser, requestHeader, messages)
