@import helper._
@import org.ieee_passau.models.{Feedback, User}
@import org.ieee_passau.views.html.bootstrap3._
@import org.ieee_passau.views.html.main
@(feedback: Form[Feedback])(implicit flash: Flash, sessionUser: Option[User], requestHeader: RequestHeader)

@main("Feedback") {
    @form(org.ieee_passau.controllers.routes.MainController.submitFeedback, 'class -> "form-horizontal") {
        @CSRF.formField
        <div class="well">
            @radiobuttons(feedback("rating"), label = "Rating", buttonNameList = List("1", "2", "3", "4", "5"))
            @textareaBs(feedback("pro"), label = "Hat mir gut gefallen", placeholder = "")
            @textareaBs(feedback("con"), label = "Kann man verbessern", placeholder = "")
            @textareaBs(feedback("freetext"), label = "Weitere Anmerkungen", placeholder = "")
            @buttonSave()
        </div>
    }
}