@import org.ieee_passau.controllers.Beans.ProblemInfo
@import org.ieee_passau.models.{Best, Dynamic, Static, User}
@import org.ieee_passau.utils.ViewHelper.showCheckmark
@import org.ieee_passau.views.html.main
@import play.api.mvc.Flash
@(problems: List[ProblemInfo], notification: (String, String))(implicit flash: Flash, sessionUser: Option[User], requestHeader: RequestHeader, messages: Messages)

@main(messages("nav.problems")) {
    <table class="table table-striped">
        <thead>
            <tr>
                <th>@messages("problem.door")</th>
                <th>@messages("problem.name")</th>
                <th class="text-right">@messages("testcase.points")</th>
                <th>@messages("problem.evalmode")</th>
                <th>@messages("submissions.tries")</th>
                <th>@messages("submissions.solves")</th>
                @if(sessionUser.nonEmpty) {
                    <th>@messages("submissions.solved")</th>
                }
            </tr>
        </thead>
        <tbody>
        @problems.map { problem =>
            <tr class="@if(problem.solved) {success} @if(problem.ownPoints != 0 && !problem.solved) {warning}">
                <td>@problem.door</td>
                <td><a href="@org.ieee_passau.controllers.routes.MainController.problemDetails(problem.door)">@problem.name</a></td>
                <td class="text-right">@if(sessionUser.nonEmpty) { @problem.ownPoints /} @problem.points</td>
                <td>@messages(problem.evalMode.toString)</td>
                <td>@problem.tries</td>
                <td>@problem.correctSolutions</td>
                @if(sessionUser.nonEmpty) {
                    <td>@showCheckmark(problem.solved)</td>
                }
            </tr>
        }
        </tbody>
    </table>
    <p>@if(problems.isEmpty) { @Html(messages("problem.list.empty")) }</p>
}(flash = (flash + notification), sessionUser, requestHeader, messages)
