@import org.ieee_passau.controllers.Beans.ProblemInfo
@import org.ieee_passau.models.{Best, Dynamic, Static, User}
@import org.ieee_passau.utils.ViewHelper.showCheckmark
@import org.ieee_passau.views.html.main
@import play.api.i18n.{Lang, Messages}
@import play.api.mvc.Flash
@(problems: List[ProblemInfo])(implicit flash: Flash, sessionUser: Option[User], lang: Lang)

@main(Messages("nav.problems")) {
    <table class="table table-striped">
        <thead>
            <tr>
                <th>@Messages("problem.door")</th>
                <th>@Messages("problem.name")</th>
                <th class="text-right">@Messages("testcase.points")</th>
                <th>@Messages("problem.evalmode")</th>
                <th>@Messages("submissions.tries")</th>
                <th>@Messages("submissions.solves")</th>
                @if(sessionUser.nonEmpty) {
                    <th>@Messages("submissions.solved")</th>
                }
            </tr>
        </thead>
        <tbody>
        @problems.map { problem =>
            <tr class="@if(problem.solved) {success} @if(problem.ownPoints != 0 && !problem.solved) {warning}">
                <td>@problem.door</td>
                <td><a href="@org.ieee_passau.controllers.routes.MainController.problemDetails(problem.door)">@problem.name</a></td>
                <td class="text-right">@if(sessionUser.nonEmpty) { @problem.ownPoints /} @problem.points</td>
                <td>@Messages(problem.evalMode.toString.toLowerCase)</td>
                <td>@problem.tries</td>
                <td>@problem.correctSolutions</td>
                @if(sessionUser.nonEmpty) {
                    <td>@showCheckmark(problem.solved)</td>
                }
            </tr>
        }
        </tbody>
    </table>
    <p>@if(problems.isEmpty) { @Messages("problem.list.empty") }</p>
}
