@import org.ieee_passau.controllers.Beans.ProblemInfo
@import org.ieee_passau.models.{Best, Dynamic, Static, User}
@import org.ieee_passau.utils.ViewHelper.showCheckmark
@import org.ieee_passau.views.html.main
@import play.api.i18n.{Lang, Messages}
@import play.api.mvc.Flash
@(problems: List[ProblemInfo])(implicit flash: Flash, sessionUser: Option[User], lang: Lang)

@main(Messages("nav.problems")) {
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Tag</th>
                <th>Name</th>
                <th>Punkte</th>
                <th>Versuche</th>
                <th>Lösungen</th>
                @if(sessionUser.nonEmpty) {
                    <th>Gelöst</th>
                }
            </tr>
        </thead>
        <tbody>
        @problems.map { problem =>
            <tr class="@if(problem.solved) {success}">
                <td>@problem.door</td>
                <td><a href="@org.ieee_passau.controllers.routes.MainController.problemDetails(problem.door)">@problem.name</a></td>
                <td>
                    @problem.points
                    @if(problem.evalMode == Static) {(fest)}
                    @if(problem.evalMode == Dynamic) {(dynamisch nach Abgaben)}
                    @if(problem.evalMode == Best) {(dynamisch nach bester Abgabe)}
                    @if(problem.evalMode == Best) {(keine Bewertung)}
                </td>
                <td>@problem.tries</td>
                <td>@problem.correctSolutions</td>
                @if(sessionUser.nonEmpty) {
                    <td>@showCheckmark(problem.solved)</td>
                }
            </tr>
        }
        </tbody>
    </table>
    <p>@if(problems.isEmpty) {Scheinbar gibt es noch keine Aufgaben zu lösen.}</p>
}
