@import org.ieee_passau.controllers.Beans.{SolutionListEntry, TicketText}
@import org.ieee_passau.models.{Language, Page, Problem, Ticket, User}
@import org.ieee_passau.views.html.bootstrap3.{buttonSave, textareaBs}
@import org.ieee_passau.views.html.main
@import org.ieee_passau.views.html.solution.{solutionForm, solutionListAutoReload}
@import org.ieee_passau.views.html.ticket.ticketView
@import play.api.data.Form
@import play.api.i18n.{Lang, Messages}
@import play.api.mvc.{Flash, RequestHeader}
@import play.twirl.api.Html
@import views.html.helper.{CSRF, form}
@(problem: Problem, languages: List[Language], lastLang: String, solutions: List[SolutionListEntry], tickets: List[(Ticket, String)], ticketForm: Form[TicketText], message: (String, String))(implicit flash: Flash, sessionUser: Option[User], requestHeader: RequestHeader, lang: Lang)

@main(Messages("problem.title") + problem.door + ": " + problem.title, hasTitle = true) {
    @Html(problem.description)

    <h3>Fragen und Antworten</h3>
    @ticketView(tickets)

    @if(sessionUser.isDefined) {
        @form(org.ieee_passau.controllers.routes.TicketController.submitTicket(problem.door), 'class -> "form-horizontal") {
            @CSRF.formField
            <div class="well">
                @textareaBs(ticketForm("text"), label = "Frage")
                @buttonSave()
            </div>
        }
    } else {
        <p>Bitte logge dich ein, um eine Frage zu stellen...</p>
    }

    <h3>Lösung einreichen</h3>
    @if(problem.solvable) {
        @if(sessionUser.isDefined) {
            <div class="well">
                @solutionForm(languages, lastLang)
            </div>
        } else {
            <p>Bitte logge dich ein, um eine Lösung einzureichen...</p>
        }
    } else {
        <p>Momentan können keine Lösungen eingereicht werden...</p>
    }

    @if(solutions.nonEmpty) {
        <h3>Bisherige Lösungen</h3>
        <p>Falls dir nicht ganz klar ist, was die ein oder andere Fehlermeldung jetzt genau bedeutet, schau doch einfach
            in den <a href="@org.ieee_passau.controllers.routes.MainController.content(Page.faq.toString)">FAQ</a> nach.</p>

        @solutionListAutoReload(solutions, languages, problem.door)
    }
}(flash = (flash + message), sessionUser, lang)
