@import org.ieee_passau.utils.ViewHelper.{Highlight, HighlightSpecial}
@import org.ieee_passau.models.User
@import org.ieee_passau.views.html.main
@import play.api.mvc.Flash
@(users: List[(Int, String, Boolean, Int, Int, Int)], notification: (String, String))(implicit flash: Flash, sessionUser: Option[User], requestHeader: RequestHeader, messages: Messages)

@main(messages("nav.ranking")) {
    <table class="table table-striped">
        <thead>
            <tr>
                <th>@messages("ranking.position")</th>
                <th>@messages("user.title")</th>
                <th>@messages("testcase.points")</th>
                <th>@messages("ranking.solves")</th>
            </tr>
        </thead>
        <tbody>
        @users.map { user =>
            <tr class="@if(user._6 == Highlight) {success} @if(user._6 == HighlightSpecial) {warning} @if(user._3) {disabled}">
                <td>@user._1</td>
                <td>@user._2</td>
                <td>@user._4</td>
                <td>@user._5</td>
            </tr>
        }
        </tbody>
    </table>
    <p>@if(users.isEmpty) { @Html(messages("ranking.empty", org.ieee_passau.controllers.routes.MainController.problems)) }</p>
}(flash = (flash + notification), sessionUser, requestHeader, messages)
