@(door: Int, langExt: String)(implicit messages: Messages)

<style>#preview {
    position: relative;
    /*width: 500px;*/
    height: 400px;
}</style>

<div class="form-group">
    <div class="col-sm-offset-2 col-sm-2">
        <input type="submit" value="@messages("submit.submit")" class="btn btn-primary"
        formaction="@org.ieee_passau.controllers.routes.MainController.solveString(door)" />
    </div>

    <div class="col-sm-2">
        <button type="button" onclick="loadCodeEditor();" class="btn btn-warning">@messages("submit.codeeditor.reload")</button>
    </div>
</div>
<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <div class="panel panel-default">
            <div class="panel-heading"><h3 class="panel-title">@messages("submit.codeeditor")</h3></div>
            <div class="panel-body">
                <div id="preview"></div>
            </div>
        </div>
    </div>
</div>
<input name="submissiontext" id="submissiontext" type="hidden" value=""/>

<script src="@routes.Assets.versioned("lib/ace/ace.js")" type="text/javascript" charset="utf-8"></script>
<script src="@routes.Assets.versioned("lib/ace/ext-modelist.js")" type="text/javascript" charset="utf-8"></script>
<script src="@routes.Assets.versioned("lib/ace/ext-language_tools.js")" type="text/javascript" charset="utf-8"></script>
<script src="@routes.Assets.versioned("javascripts/codeEditor.js")" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    var langExtension = "@langExt";
    var editor = ace.edit("preview");
    ace.config.set('basePath', '@routes.Assets.versioned("lib/ace")');
    updateEditor();
</script>
