@import helper._
@import org.ieee_passau.controllers.Beans.SubmissionListEntry
@import org.ieee_passau.models.{Canceled, Passed, Queued, User}
@import org.ieee_passau.views.html.main
@import play.api.mvc.Flash
@import scala.language.implicitConversions
@import org.ieee_passau.models.Admin
@(list: List[SubmissionListEntry], pages: Int, page: Int, ordering: String)(implicit flash: Flash, sessionUser: Option[User], requestHeader: RequestHeader, messages: Messages)

@main(messages("submission.list.title")) {
    <table class="table table-striped">
        <thead>
            <tr>
                <th><a href="@org.ieee_passau.controllers.routes.EvaluationController.index()">@messages("submission.title")</a></th>
                <th><a href="@org.ieee_passau.controllers.routes.EvaluationController.index(1, "problem")">@messages("problem.title")</a></th>
                <th><a href="@org.ieee_passau.controllers.routes.EvaluationController.index(1, "user")">@messages("user.title")</a></th>
                <th><a href="@org.ieee_passau.controllers.routes.EvaluationController.index(1, "lang")">@messages("codelang.title")</a></th>
                <th>@messages("testcase.title")</th>
                <th>@messages("general.createdate")</th>
                @if(sessionUser.isDefined && sessionUser.get.permission.includes(Admin)) {
                    <th></th>
                }
            </tr>
        </thead>
        <tbody>
        @list.map { s =>
            <tr class="@if(s.result == Passed) { success } @if(s.result == Queued) { info }
                       @if(s.result != Passed && s.result != Queued && s.result != Canceled) { danger }
                       @if(s.result == Canceled) { warning }">
                <td><a href="@org.ieee_passau.controllers.routes.EvaluationController.details(s.id)">@s.id</a></td>
                <td>@s.door @s.title</td>
                <td>@s.user</td>
                <td>@s.lang</td>
                <td>@s.passedTC / @s.allTC</td>
                <td>@s.date.format("yyyy-MM-dd HH:mm")</td>
                @if(sessionUser.isDefined && sessionUser.get.permission.includes(Admin)) {
                <td>
                    <form style="display: inline" method="POST" action="@org.ieee_passau.controllers.routes.EvaluationController.reEval(s.id)">
                        @CSRF.formField
                        <button type="submit" onclick="return(window.confirm('@messages("eval.task.resubmit.warning")'))" class="btn btn-danger"><span class="glyphicon glyphicon-repeat"></span></button>
                    </form>
                </td>
                }
            </tr>
        }
        </tbody>
    </table>

    <nav class="text-center">
        <ul class="pagination">
            <li @if(page <= 1) {class="disabled"}><a href="@org.ieee_passau.controllers.routes.EvaluationController.index(page - 1, ordering)">@messages("general.pagination.back")</a></li>
            @for( i <- 1 to pages) {
                @if(i == page) {
                    <li class="active"><a href="#">@i</a></li>
                } else {
                    <li><a href="@org.ieee_passau.controllers.routes.EvaluationController.index(i, ordering)">@i</a></li>
                }
            }
            <li @if(page >= pages) {class="disabled"}><a href="@org.ieee_passau.controllers.routes.EvaluationController.index(page + 1, ordering)">@messages("general.pagination.forward")</a></li>
        </ul>
    </nav>
}
