@import org.ieee_passau.controllers.Beans.SubmissionListEntry
@import org.ieee_passau.models.{Canceled, Passed, Queued, User}
@import org.ieee_passau.views.html.main
@(list: List[SubmissionListEntry], pages: Int, page: Int, ordering: String)(implicit flash: Flash, sessionUser: Option[User], lang: Lang)

@main("Abgabenliste") {
    <table class="table table-striped">
        <thead>
            <tr>
                <th><a href="@org.ieee_passau.controllers.routes.EvaluationController.index(1, "date")">Abgabe</a></th>
                <th><a href="@org.ieee_passau.controllers.routes.EvaluationController.index(1, "problem")">Problem</a></th>
                <th><a href="@org.ieee_passau.controllers.routes.EvaluationController.index(1, "user")">Benutzer</a></th>
                <th><a href="@org.ieee_passau.controllers.routes.EvaluationController.index(1, "lang")">Sprache</a></th>
                <th>Testcases</th>
                <th>Erstellt</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @list.map { s =>
            <tr class="@if(s.result == Passed) { success } @if(s.result == Queued) { info }
                       @if(s.result != Passed && s.result != Queued && s.result != Canceled) { danger }
                       @if(s.result == Canceled) { warning }">
                <td><a href="@org.ieee_passau.controllers.routes.EvaluationController.details(s.id)">@s.id</a></td>
                <td>@s.door @s.title</td>
                <td>@s.user</td>
                <td>@s.lang</td>
                <td>@s.passedTC / @s.allTC</td>
                <td>@s.date.format("dd.MM.yyyy HH:mm")</td>
                <td><a href="@org.ieee_passau.controllers.routes.EvaluationController.reEval(s.id)" class="btn btn-default"><span class="glyphicon glyphicon-repeat"></span></a></td>
            </tr>
        }
        </tbody>
    </table>

    <nav class="text-center">
        <ul class="pagination">
            <li @if(page <= 1) {class="disabled"}><a href="@org.ieee_passau.controllers.routes.EvaluationController.index(page - 1, ordering)">Zurück</a></li>
            @for( i <- 1 to pages) {
                @if(i == page) {
                    <li class="active"><a href="#">@i</a></li>
                } else {
                    <li><a href="@org.ieee_passau.controllers.routes.EvaluationController.index(i, ordering)">@i</a></li>
                }
            }
            <li @if(page >= pages) {class="disabled"}><a href="@org.ieee_passau.controllers.routes.EvaluationController.index(page + 1, ordering)">Weiter</a></li>
        </ul>
    </nav>
}