@import org.ieee_passau.controllers.Beans.SolutionListEntry
@import org.ieee_passau.models.{Canceled, CompileError, Language, Page, Passed, Private, Public, Queued, WrongAnswer}
@import play.api.i18n.{Lang, Messages}
@import play.twirl.api.Html
@(solutions: List[SolutionListEntry], languages: List[Language], showAll: Boolean = false, first: Boolean = true)(implicit lang: Lang)
@* @param showAll: show also details for private testcases
 * @param first:   special handling first element in solution list if true (default)
 *@

@solutions.map { s =>
    <div id="@s.solution.id" data-state="@s.state">
        <div class="panel @if(s.state == Passed) { panel-success } @if(s.state == Queued) { panel-info }
            @if(s.state == WrongAnswer) { panel-danger } @if(s.state == Canceled) { panel-warning }">
            @* Create an anchor for the first solution *@
            @if(first && solutions.head == s) { <a name="latest"></a> }

            @* Panel Header *@
            <div class="panel-heading"><h3 class="panel-title">
                <a data-toggle="collapse" data-target="#solution@s.position" href="#solution@s.position">
                    @if(s.state == Queued) { <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>} @Messages("solution.title") @s.position
                    <span class="pull-right">
                        @s.testcases.filter(_.testrun.result == Passed).map(_.testcase.points).sum / @s.testcases.map(_.testcase.points).sum @Messages("testcase.points")
                    </span>
                </a>
            </h3></div>

            <div id="solution@s.position" class="panel-collapse collapse @if(first && solutions.head == s) { in }"><div class="panel-body">
                <p>
                    <Strong>@Messages("solution.state"):</Strong>
                    @Html(Messages(s.state.toString, org.ieee_passau.controllers.routes.MainController.content(Page.contact.toString)))
                </p>

                <p><button type="button" class="btn" data-toggle="collapse" data-target="#code@s.position">
                    <span class="glyphicon glyphicon-eye-open"></span>
                    @Messages("submission.program_source") (@languages.filter(_.id == s.solution.language).map{l=>@l.name})
                </button></p>

                <div id="code@s.position" class="collapse">
                    <pre><code class="@languages.filter(_.id == s.solution.language).map{l=>@l.highlightClass}">@s.solution.program</code></pre>
                </div>

                @s.testcases.map { t =>
                    <div class="panel
                        @if(t.testrun.result == Passed) { panel-success }
                        @if(t.testrun.stage.isDefined) { panel-info }
                        @if(t.testrun.result != Passed && t.testrun.stage.isEmpty && t.testrun.result != Canceled) { panel-danger }
                        @if(t.testrun.result == Canceled) { panel-warning }">
                        <div class="panel-heading"><h3 class="panel-title">
                            <a data-toggle="collapse" data-target="#solution@(s.position)_@(t.position)" href="#solution@(s.position)_@(t.position)">
                                @Messages("testcase.title") @t.position @if(t.testcase.visibility == Private) { (@Messages(Private.toString)) }
                                <span class="pull-right">@t.testcase.points @Messages("testcase.points")</span>
                            </a>
                        </h3></div>

                        <div id="solution@(s.position)_@(t.position)" class="panel-collapse collapse @if(t.testrun.result != Passed) { in }"><div class="panel-body">
                            <p>
                                <strong>Status:</strong>
                                @if(t.testrun.stage.isDefined) { @Html(Messages(Queued.toString)) } else { @Html(Messages(t.testrun.result.toString, org.ieee_passau.controllers.routes.MainController.content(Page.contact.toString))) }
                            </p>

                            @if(t.testrun.stage.isEmpty && (t.testcase.visibility == Public || showAll)) {
                                <p><strong>@Messages("submission.compiler_return"):</strong> @t.testrun.compExit</p>

                                @Messages("submission.compiler_output"):
                                <pre>@t.testrun.compOut</pre>

                                @if(t.testrun.compErr.isDefined && t.testrun.compErr.get.length > 0) {
                                    @Messages("submission.compiler_error"):
                                    <pre>@t.testrun.compErr</pre>
                                }

                                @if(t.testrun.result != CompileError) {
                                    @Messages("submission.program_input"):
                                    <pre>@t.testcase.input</pre>

                                    <div class="row">
                                        <div  class="col-sm-6">
                                            @Messages("submission.expected_output"):
                                            <pre class="expected-output">@t.testcase.expectedOutput</pre>
                                        </div>
                                        <div class="col-sm-6">
                                            @Messages("submission.program_output"):
                                            <pre class="actual-output">@t.testrun.progOut</pre>
                                        </div>
                                    </div>

                                    @if(t.testrun.progErr.isDefined && t.testrun.progErr.get.length > 0) {
                                        @Messages("submission.program_error"):
                                        <pre>@t.testrun.progErr</pre>
                                    }

                                    <p><strong>@Messages("submission.program_return"):</strong> @t.testrun.progExit</p>
                                }
                            }
                        </div></div>
                    </div>
                }
            </div></div>
        </div>
    </div>
}
