@import org.ieee_passau.controllers.Beans.SolutionListEntry
@import org.ieee_passau.models.{Language, Problem, User}
@import org.ieee_passau.views.html.main
@import play.api.i18n.{Lang, Messages}
@import play.api.mvc.Flash
@import play.twirl.api.TemplateMagic._
@import scala.language.implicitConversions
@(s: SolutionListEntry, languages: List[Language], user: User, problem: Problem)(implicit flash: Flash, sessionUser: Option[User], requestHeader: RequestHeader, lang: Lang)

@main(Messages("submission.title") + " " + s.solution.id.get) {
    <div class="well">
        <p><label class="col-sm-2 control-label">@Messages("user.title")</label>
            @user.username
        </p>
        <p><label class="col-sm-2 control-label">@Messages("user.useragent")</label>
            @s.solution.userAgent
        </p>
        <p><label class="col-sm-2 control-label">@Messages("user.ip")</label>
            @s.solution.ip
        </p>
        <p><label class="col-sm-2 control-label">@Messages("general.createdate")</label>
            @s.solution.created.format("dd.MM.yyyy HH:mm")
        </p>
        <p><label class="col-sm-2 control-label">@Messages("problem.title")</label>
          <a href=@org.ieee_passau.controllers.routes.MainController.problemDetails(problem.door)>@problem.title</a>
        </p>
    </div>

    @solutionList(List(s), languages, showAll = true)
}
