@import org.ieee_passau.models.{Language, Page}
@import play.api.mvc.RequestHeader
@import views.html.helper.CSRF
@import org.ieee_passau.controllers.routes
@(door: Int, languages: List[Language], lastLanguage: String)(implicit requestHeader: RequestHeader, messages: Messages)

<form id="submissionForm" action="#" method="post" enctype="multipart/form-data" class="form-horizontal">
    @CSRF.formField
    <fieldset>
        <div class="form-group" >
            <label for="lang" class="col-sm-2 control-label">@messages("codelang.title")</label>
            <div class="col-sm-10">
                <select id="lang" size="1" name="lang" class="col-sm-10 form-control">
                @languages.map { lang =>
                    <option value="@lang.id" @{if(lang.id == lastLanguage) "selected" }>@lang.name</option>
                }
                </select>
            </div>
        </div>

        <div class="form-group" >
            <label class="col-sm-2 control-label">@messages("submission.program_source")</label>
            <div class="col-sm-10">
                <div class="input-group">
                    <span class="input-group-btn">
                        <span class="btn btn-default btn-file">
                            Datei  <input id="solution" type="file" name="solution"/>
                        </span>
                    </span>
                    <input id="filename" type="text" class="col-sm-10 form-control" readonly title="">
                </div>

                <p><small>@Html(messages("submit.notice.codelang"))</small></p>
                <p><small>
                    @Html(messages("submit.notice.help", org.ieee_passau.controllers.routes.CmsController.content(Page.faq.toString),
                                                         org.ieee_passau.controllers.routes.CmsController.content(Page.examples.toString)))
                </small></p>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-2">
                <input id="defaultSubmit" type="submit" value="@messages("submit.submit")" class="btn btn-primary"/>
            </div>

            <div class="col-sm-2">
                <button id="loadEditor" type="button" onclick="loadCodeEditor();" class="btn btn-primary">@messages("submit.codeeditor.load")</button>
            </div>
        </div>

        <div id="codeEditor"></div>
    </fieldset>

    <script type="text/javascript">
        var reloadMessage = '@messages("submit.codeeditor.reload")';
        var buttonMessage = '@messages("submit.codeeditor.defaultButton")';

        function loadCodeEditor() {
            $.ajax(
                jsRoutes.org.ieee_passau.controllers.MainController.codeEditor('@door', lang.value)
            ).done(function (data) {
                $("#codeEditor").html(data);
            });

            var defaultSubmitButton = $("#defaultSubmit")[0];
            defaultSubmitButton.classList = "btn btn-default";
            defaultSubmitButton.innerHTML = buttonMessage;
            var editorButton = $("#loadEditor")[0];
            editorButton.classList = "btn btn-warning";
            editorButton.innerHTML = reloadMessage;
        }
    </script>
</form>
