@import org.ieee_passau.models.{EvalMode, Problem}
@import org.ieee_passau.utils.LanguageHelper
@import org.ieee_passau.views.html.bootstrap3.{buttonSave, fileloader, text, textareaBs}
@import play.api.data.Form
@import play.api.i18n.{Lang, Messages}
@import org.ieee_passau.utils.ViewHelper
@(problem: Form[Problem], evalModes: List[EvalMode])(implicit lang: Lang)

<fieldset>
    @if(problem.value.isDefined) {
        <input type="hidden" name="id" value="@problem.value.get.id.get" />
    }
    @text(problem("title"), label = Messages("problem.name"), placeholder = Messages("problem.name"))
    <div class="form-group @if(problem.errors.nonEmpty) {
        @problem.errors.map { e => @if(e.message == "problem.create.error.door") { has-error } }
    } @if(problem("door").hasErrors) { has-error }">
        <label class="col-sm-2 control-label">@Messages("problem.door")</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="door" name="door" value="@problem("door").value.getOrElse("")" placeholder="@Messages("problem.door")"/>
            <span class="help-block">
                @if(problem.errors.nonEmpty) {
                    @problem.errors.map { e => @if(e.messages.head == "problem.create.error.door") { @Messages(e.messages.head, Messages("problem.readablestop"), Messages("problem.readablestart")) }}
                }
            </span>
            <span class="help-block">@{ problem("door").error.map { error => Messages(error.message) }}</span>
        </div>
    </div>
    @textareaBs(problem("description"), label = Messages("problem.description.lang", Messages("language.name")(LanguageHelper.defaultLanguage)), placeholder =  Messages("problem.description"), wysiwyg = true)
    @fileloader("description")

    @dateManualError(problem("readableStart"), label =  Messages("problem.readablestart"), placeholder = "01.12.2013")
    @{
        val (hasError, error) = ViewHelper.checkAmbiguesKey("vis", problem)
        dateManualError(problem("readableStop"), label =  Messages("problem.readablestop"), placeholder = "01.12.2013",
            hasError = hasError, errorMsg = Messages(error, Messages("problem.readablestop"), Messages("problem.readablestart")))
    }
    @dateManualError(problem("solvableStart"), label = Messages("problem.solvablestart"), placeholder = "01.12.2013")
    @{
        val (hasError, error) = ViewHelper.checkAmbiguesKey("vis", problem)
        dateManualError(problem("solvableStop"), label =  Messages("problem.solvablestop"), placeholder = "01.12.2013",
            hasError = hasError, errorMsg = Messages(error, Messages("problem.solvablestop"), Messages("problem.solvablestart")))
    }

    <div class="form-group">
        <label for="evalMode" class="col-sm-2 control-label">@Messages("problem.evalmode")</label>
        <div class="col-sm-10">
            <select id="evalMode" size="1" name="evalMode" class="col-sm-10 form-control">
            @evalModes.map { mode =>
                <option value="@mode.mode" @{if(problem.value.isDefined && mode.mode == problem.get.evalMode.toString) "selected" }>@Messages(mode.mode.toLowerCase)</option>
            }
            </select>
        </div>
    </div>

    @buttonSave()
</fieldset>
