@import helper._
@import org.ieee_passau.controllers.routes
@import org.ieee_passau.models.{EvalMode, EvalTask, Problem, ProblemTranslation, Testcase, User}
@import org.ieee_passau.views.html.{evaltask, main, problemTranslation, testcase}
@import play.api.data.Form
@import play.api.mvc.{Flash, RequestHeader}
@import org.ieee_passau.models.Admin
@(pid: Int, testcases: List[Testcase], evalTasks: List[EvalTask], translations: List[ProblemTranslation], problem: Form[Problem], evalModes: List[EvalMode])(implicit flash: Flash, sessionUser: Option[User], requestHeader: RequestHeader, messages: Messages, messagesApi: MessagesApi)

@main(messages("problem.edit")) {

    <ol class="breadcrumb">
        <li><a href="@routes.ProblemController.index">@messages("general.listoverview")</a></li>
        <li class="active">@messages("problem.title")</li>
    </ol>

    <h3>@messages("problem.translation.list.title")</h3>
    @problemTranslation.index(pid, translations)

    @if(sessionUser.isDefined && sessionUser.get.permission.includes(Admin)) {
        <h3>@messages("problem.settings.title")</h3>
        @form(routes.ProblemController.update(pid), 'class -> "form-horizontal") {
            @CSRF.formField
            <div class="well">
            @_form(problem, evalModes)
            </div>
        }

        <h3>@messages("testcase.list.title")</h3>
        @testcase.index(pid, testcases)

        <h3>@messages("evaltask.list.title")</h3>
        @evaltask.index(pid, evalTasks)
    }
}
