@import helper._
@import org.ieee_passau.controllers.routes
@import org.ieee_passau.models.{EvalMode, EvalTask, Problem, ProblemTranslation, Testcase, User}
@import org.ieee_passau.views.html.{evaltask, main, problemTranslation, testcase}
@import play.api.data.Form
@import play.api.i18n.{Lang, MessagesApi}
@import play.api.mvc.{Flash, RequestHeader}
@(pid: Int, testcases: List[Testcase], evalTasks: List[EvalTask], translations: List[ProblemTranslation], problem: Form[Problem], evalModes: List[EvalMode])(implicit flash: Flash, sessionUser: Option[User], requestHeader: RequestHeader, messagesApi: MessagesApi, lang: Lang)

@main(messagesApi("problem.edit")) {

    <ol class="breadcrumb">
        <li><a href="@routes.ProblemController.index">@messagesApi("general.listoverview")</a></li>
        <li class="active">@messagesApi("problem.title")</li>
    </ol>

    @form(routes.ProblemController.update(pid), 'class -> "form-horizontal") {
        @CSRF.formField
        <div class="well">
            @_form(problem, evalModes)
        </div>
    }

    <h3>@messagesApi("problem.translation.list.title")</h3>
    @problemTranslation.index(pid, translations)

    <h3>@messagesApi("testcase.list.title")</h3>
    @testcase.index(pid, testcases)

    <h3>@messagesApi("evaltask.list.title")</h3>
    @evaltask.index(pid, evalTasks)
}
