@import helper._
@import org.ieee_passau.models.{Problem, User}
@import org.ieee_passau.views.html.main
@import play.api.i18n.{Lang, MessagesApi}
@import play.api.mvc.{Flash, RequestHeader}
@import org.ieee_passau.models.Admin
@(problems: List[Problem])(implicit flash: Flash, sessionUser: Option[User], requestHeader: RequestHeader, messagesApi: MessagesApi, lang: Lang)

@main(messagesApi("problem.list.title")) {
    <table class="table table-striped">
        <thead>
            <tr>
                <th>@messagesApi("general.id")</th>
                <th>@messagesApi("problem.name")</th>
                <th>@messagesApi("problem.door")</th>
                <th>@messagesApi("problem.evalmode")</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @problems.map { problem =>
            <tr>
                <td>@problem.id</td>
                <td>@problem.title</td>
                <td>@problem.door</td>
                <td>@messagesApi(problem.evalMode.toString)</td>
                <td>
                    <a href="@org.ieee_passau.controllers.routes.ProblemController.edit(problem.id.get)" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span></a>
                    @if(sessionUser.isDefined && sessionUser.get.permission.includes(Admin)) {
                        <form style="display: inline" method="POST" action="@org.ieee_passau.controllers.routes.ProblemController.delete(problem.id.get)">
                        @CSRF.formField
                        <button type="submit" onclick="return(window.confirm('@messagesApi("general.delete.confirm")'))" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></button>
                    }
                    </form>
                </td>
            </tr>
        }
        @if(sessionUser.isDefined && sessionUser.get.permission.includes(Admin)) {
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <a href="@org.ieee_passau.controllers.routes.ProblemController.insert" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></a>
                </td>
            </tr>
        }
        </tbody>
    </table>
}
