@import helper._
@import org.ieee_passau.models.{EvalMode, Problem, User}
@import org.ieee_passau.views.html.main
@import play.api.data.Form
@import play.api.i18n.{Lang, MessagesApi}
@import play.api.mvc.{Flash, RequestHeader}
@(problem: Form[Problem], evalModes: List[EvalMode])(implicit flash: Flash, sessionUser: Option[User], requestHeader: RequestHeader, messagesApi: MessagesApi, lang: Lang)

@main(messagesApi("problem.create")) {

    <ol class="breadcrumb">
        <li><a href="@org.ieee_passau.controllers.routes.ProblemController.index">@messagesApi("general.listoverview")</a></li>
        <li class="active">@messagesApi("problem.title")</li>
    </ol>

    @form(org.ieee_passau.controllers.routes.ProblemController.save, 'class -> "form-horizontal") {
        @CSRF.formField
        <div class="well">
            @_form(problem, evalModes)
        </div>
    }
}
