@import org.ieee_passau.models.EvalTask
@import org.ieee_passau.views.html.bootstrap3.{buttonSave, checkboxBs, number, textareaBs}
@import play.api.data.Form
@import play.twirl.api.Html
@(pid: Int, task: Form[EvalTask])(implicit messages: Messages)

<fieldset>
    <input type="hidden" name="problemId" value="@pid" />
    @number(task("position"), label = messages("evaltask.position"), placeholder = messages("evaltask.position"))
    <div class="col-sm-10 col-sm-offset-2"><h4>@messages("evaltask.mask.description")</h4></div>
    <div class="col-sm-10 col-sm-offset-2"><p>@Html(messages("evaltask.mask.list"))</p></div>
    @textareaBs(task("command"), label = messages("evaltask.mask"), placeholder = "{stdIn}{expOut}", rows = 1)

    <div class="form-group" >
        <label class="col-sm-2 control-label">@messages("evaltask.file")</label>
        <div class="col-sm-10">
            <div class="input-group">
                <span class="input-group-btn">
                    <span class="btn btn-default btn-file">
                        @messages("general.file")  <input id="program" type="file" name="program"/>
                    </span>
                </span>
                <input type="text" class="col-sm-10 form-control" readonly title="">
            </div>
        </div>
    </div>

    <div class="col-sm-10 col-sm-offset-2"><h4>@messages("evaltask.output.description")</h4></div>
    @checkboxBs(task("outputCheck"), label = messages("evaltask.output.checker"), help = messages("evaltask.output.checker.help"))
    @checkboxBs(task("scoreCalc"), label = messages("evaltask.output.score"), help = messages("evaltask.output.score.help"))

    <div class="col-sm-10 col-sm-offset-2"><h4>@messages("evaltask.condition.description")</h4></div>
    @checkboxBs(task("runCorrect"), label = messages("evaltask.condition.passed"))
    @checkboxBs(task("runWrong"), label = messages("evaltask.condition.failed"))

    @buttonSave()
</fieldset>
