@import helper._
@import org.ieee_passau.models.{EvalTask, User}
@import org.ieee_passau.views.html.main
@import play.api.data.Form
@import play.api.i18n.{Lang, MessagesApi}
@import play.api.mvc.{Flash, RequestHeader}
@(pid: Int, id: Int, task: Form[EvalTask])(implicit flash: Flash, sessionUser: Option[User], requestHeader: RequestHeader, messagesApi: MessagesApi, lang: Lang)

@main(messagesApi("evaltask.edit")) {

    <ol class="breadcrumb">
        <li><a href="@org.ieee_passau.controllers.routes.ProblemController.index">@messagesApi("general.listoverview")</a></li>
        <li><a href="@org.ieee_passau.controllers.routes.ProblemController.edit(pid)">@messagesApi("problem.title")</a></li>
        <li class="active">@messagesApi("evaltask.title")</li>
    </ol>

    <form action="@org.ieee_passau.controllers.routes.EvalTaskController.update(pid, id)" method="post" enctype="multipart/form-data" class="form-horizontal">
        @CSRF.formField
        <fieldset>
            <div class="well">
                @_form(pid, task)
            </div>
        </fieldset>
    </form>
}
