@import org.ieee_passau.models.EvalTask
@import org.ieee_passau.utils.ViewHelper._
@import views.html.helper.CSRF
@(pid: Int, tasks: List[EvalTask])(implicit requestHeader: RequestHeader)

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Position</th>
            <th>Programm</th>
            <th>Auswertung</th>
            <th>Bewertung</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>-</td>
            <td>0</td>
            <td>Benutzerabgabe</td>
            <td>@showCheckmark(true)</td>
            <td>@showCheckmark(false)</td>
            <td></td>
        <tr>
    @tasks.map { task =>
        <tr>
            <td>@task.id</td>
            <td>@task.position</td>
            <td>@task.filename</td>
            <td>@showCheckmark(task.outputCheck)</td>
            <td>@showCheckmark(task.scoreCalc)</td>
            <td>
                <a href="@org.ieee_passau.controllers.routes.EvalTaskController.edit(pid, task.id.get)" class="btn btn-default">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>

                <form style="display: inline" method="POST" action="@org.ieee_passau.controllers.routes.EvalTaskController.delete(pid, task.id.get)">
                    @CSRF.formField
                    <button type="submit" onclick="return(window.confirm('Wirklich löschen?'))" class="btn btn-danger">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </form>
            </td>
        </tr>
    }
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <a href="@org.ieee_passau.controllers.routes.EvalTaskController.insert(pid)" class="btn btn-default">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </td>
        <tr>
    </tbody>
</table>