@import helper._
@import org.ieee_passau.models.{EvalTask, User}
@import org.ieee_passau.views.html.main
@import play.api.data.Form
@import play.api.i18n.Lang
@import play.api.mvc.{Flash, RequestHeader}
@(pid: Int, task: Form[EvalTask])(implicit flash: Flash, sessionUser: Option[User], requestHeader: RequestHeader, lang: Lang)

@main("Auswertungsschritt hinzufügen") {

    <ol class="breadcrumb">
        <li><a href="@org.ieee_passau.controllers.routes.ProblemController.index">Übersicht</a></li>
        <li><a href="@org.ieee_passau.controllers.routes.ProblemController.edit(pid)">Problem</a></li>
        <li class="active">Auswertungsschritt</li>
    </ol>

    <form action="@org.ieee_passau.controllers.routes.EvalTaskController.insert(pid)" method="post" enctype="multipart/form-data" class="form-horizontal">
        @CSRF.formField
        <fieldset>
            <div class="well">
            @_form(pid, task)
            </div>
        </fieldset>
    </form>
}
