@import org.ieee_passau.models.{Testcase, Visibility, Private}
@import org.ieee_passau.views.html.bootstrap3.{buttonSave, fileloader, text, textareaBs}
@import play.api.data.Form
@import play.api.i18n.{Lang, Messages}
@(pid: Int, testcase: Form[Testcase], visibilities: List[Visibility])(implicit lang: Lang)

<fieldset>
    <input type="hidden" name="problemId" value="@pid" />
    @text(testcase("position"), label = Messages("testcase.position"), placeholder = Messages("testcase.position"))

    <div class="form-group">
        <label for="visibility" class="col-sm-2 control-label">@Messages("testcase.visibility")</label>
        <div class="col-sm-10">
            <select id="visibility" size="1" name="visibility" class="col-sm-10 form-control">
            @visibilities.map { vis =>
                <option value="@vis.scope"
                    @{if(testcase.value.isDefined && vis == testcase.get.visibility) "selected" else if (vis == Private) "selectet"}
                >@Messages(vis.toString)</option>
            }
            </select>
        </div>
    </div>

    @textareaBs(testcase("input"), label = Messages("testcase.input"), placeholder = Messages("testcase.input"))
    @fileloader("input")
    @textareaBs(testcase("output"), label = Messages("testcase.output"), placeholder = Messages("testcase.output"))
    @fileloader("output")
    @text(testcase("points"), label = Messages("testcase.points"), placeholder = Messages("testcase.points"))

    @buttonSave()
</fieldset>
