@import org.ieee_passau.models.{Testcase, Visibility, Private}
@import org.ieee_passau.views.html.bootstrap3.{buttonSave, fileloader, number, text, textareaBs}
@import play.api.data.Form
@(pid: Int, testcase: Form[Testcase], visibilities: List[Visibility])(implicit messages: Messages)

<fieldset id="testcase-fieldset">
    <input type="hidden" name="problemId" value="@pid" />
    @number(testcase("position"), label = messages("testcase.position"), placeholder = messages("testcase.position"))

    <div class="form-group">
        <label for="visibility" class="col-sm-2 control-label">@messages("testcase.visibility")</label>
        <div class="col-sm-10">
            <select id="visibility" size="1" name="visibility" class="col-sm-10 form-control">
            @visibilities.map { vis =>
                <option value="@vis.scope"
                    @{if(testcase.value.isDefined && vis == testcase.get.visibility) "selected" else if (vis == Private) "selectet"}
                >@messages(vis.toString)</option>
            }
            </select>
        </div>
    </div>

    @textareaBs(testcase("input"), label = messages("testcase.input"), placeholder = messages("testcase.input"))
    @fileloader("input")
    @textareaBs(testcase("output"), label = messages("testcase.output"), placeholder = messages("testcase.output"),
        help = messages("testcase.output.limitnote"))
    @fileloader("output")
    @number(testcase("points"), label = messages("testcase.points"), placeholder = messages("testcase.points"))

    @buttonSave()
</fieldset>
<script type="text/javascript">
    window.addEventListener('load', function () {
        $('#testcase-fieldset button.load-file-btn').on('click', function () {
            // fill position, points and visibility from filename, if possible
            var file = $(this).parent().parent().find('.fileinput-input')[0].files[0];
            if (file !== undefined){
                var match = file.name.match(/^tc(\d+)\.(\d*)\.(pub|priv)\.(?:in|out)$/);
                if (match !== null && match.length === 4) {
                    $('#testcase-fieldset #@testcase("position").id').val(match[1]);
                    $('#testcase-fieldset #@testcase("points").id').val(match[2]);
                    $('#testcase-fieldset #visibility').val(match[3] === 'pub' ? 'PUBLIC' : 'PRIVATE');
                }
            }
        });
    });
</script>
