@import controllers.routes
@import org.ieee_passau.models.{Admin, Moderator, Contestant, Page, User}
@import org.ieee_passau.utils.LanguageHelper
@import play.api.mvc.Flash
@import play.twirl.api.Html
@(title: String, isFullPage: Boolean = false, hasTitle: Boolean = false)(content: Html)(implicit flash: Flash,
        sessionUser: Option[User], requestHeader: RequestHeader, messages: Messages)
@defining(messages.lang) { lang =>
<!DOCTYPE html>

<html lang="@lang.code">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap/bootstrap-datetimepicker.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap/awesome-bootstrap-checkbox.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/highlight/idea.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/languages.min.css")"/>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("javascripts/summernote/summernote.css")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("javascripts/cookieconsent/cookieconsent.min.css")" />
        <link rel="shortcut icon" type="image/x-icon" href="@routes.Assets.versioned("images/favicon.ico")">
        <title>@title</title>
    </head>
    <body>
        <div class='container @if(isFullPage) { fullbody }'>
            <div class="page-header">
                <h1>@Html(messages("page.title"))</h1>
                <nav class="navbar navbar-default">
                    @* Brand and toggle get grouped for better mobile display *@
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>

                    @* Collect the nav links, forms, and other content for toggling *@
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li @if(title == messages("calendar"))     { class="active" }><a href="@org.ieee_passau.controllers.routes.CmsController.calendar#calendar">@messages("calendar")</a></li>
                            <li @if(title == messages("nav.problems")) { class="active" }><a href="@org.ieee_passau.controllers.routes.MainController.problems"     >@messages("nav.problems")</a></li>
                            <li @if(title == messages("nav.ranking"))  { class="active" }><a href="@org.ieee_passau.controllers.routes.MainController.ranking"      >@messages("nav.ranking")</a></li>
                            <li class="dropdown @if(List(messages(Page.news.toString), messages(Page.rules.toString), messages(Page.faq.toString),
                                messages(Page.examples.toString), messages("codelang.list.title") + " ", messages("nav.feedback")).contains(title)) { active }" >
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">@messages("nav.info") <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li @if(title == messages(Page.news.toString))  { class="active" }><a href="@org.ieee_passau.controllers.routes.CmsController.content(Page.news.toString)" >@messages(Page.news.toString)</a></li>
                                    <li @if(title == messages(Page.faq.toString))   { class="active" }><a href="@org.ieee_passau.controllers.routes.CmsController.content(Page.faq.toString)"  >@messages(Page.faq.toString)</a></li>
                                    <li @if(title == messages(Page.rules.toString)) { class="active" }><a href="@org.ieee_passau.controllers.routes.CmsController.content(Page.rules.toString)">@messages(Page.rules.toString)</a></li>
                                    @if(sessionUser.isDefined && sessionUser.get.permission.includes(Contestant)) {
                                        <li @if(title == messages("nav.feedback")) { class="active" }><a href="@org.ieee_passau.controllers.routes.TicketController.feedback()">@messages("nav.feedback")</a></li>
                                    }
                                </ul>
                            </li>
                            @if(sessionUser.isDefined && sessionUser.get.permission.includes(Admin)) {
                                <li class="dropdown
                                    @if(List(
                                        messages("user.list.title"), messages("problem.list.title"), messages("ticket.list.title"), messages("feedback.list.title"),
                                        messages("submission.list.title"), messages("nav.admin.evalqueue"), messages("nav.admin.stats"),
                                        messages("eval.title"), messages("nav.admin.postings"), messages("codelang.list.title"),
                                        messages("assets.title")
                                    ).contains(title)) { active }" >
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">@messages("nav.admin.message") <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li @if(title == messages("problem.list.title"))    { class="active" }><a href="@org.ieee_passau.controllers.routes.ProblemController.index"         >@messages("problem.list.title")</a></li>
                                        <li @if(title == messages("ticket.list.title"))     { class="active" }><a href="@org.ieee_passau.controllers.routes.TicketController.index"          >@messages("ticket.list.title")</a></li>
                                        <li @if(title == messages("feedback.list.title"))     { class="active" }><a href="@org.ieee_passau.controllers.routes.TicketController.indexFeedback">@messages("feedback.list.title")</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li @if(title == messages("user.list.title"))       { class="active" }><a href="@org.ieee_passau.controllers.routes.UserController.index"            >@messages("user.list.title")</a></li>
                                        <li @if(title == messages("submission.list.title")) { class="active" }><a href="@org.ieee_passau.controllers.routes.EvaluationController.index()"    >@messages("submission.list.title")</a></li>
                                        <li @if(title == messages("nav.admin.evalqueue"))   { class="active" }><a href="@org.ieee_passau.controllers.routes.EvaluationController.indexQueued">@messages("nav.admin.evalqueue")</a></li>
                                        <li @if(title == messages("eval.title"))      { class="active" }><a href="@org.ieee_passau.controllers.routes.EvaluationController.vms"              >@messages("eval.title")</a></li>
                                        <li @if(title == messages("nav.admin.stats"))       { class="active" }><a href="@org.ieee_passau.controllers.routes.EvaluationController.stats"      >@messages("nav.admin.stats")</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li @if(title == messages("nav.admin.postings"))    { class="active" }><a href="@org.ieee_passau.controllers.routes.CmsController.maintenance"       >@messages("nav.admin.postings")</a></li>
                                        <li @if(title == messages("codelang.list.title"))   { class="active" }><a href="@org.ieee_passau.controllers.routes.LanguageController.index"        >@messages("codelang.list.title")</a></li>
                                    </ul>
                                </li>
                            } else { @if(sessionUser.isDefined && sessionUser.get.permission.includes(Moderator)) {
                                <li class="dropdown
                                    @if(List(
                                    messages("problem.list.title"), messages("ticket.list.title"), messages("submission.list.title"),
                                    messages("nav.admin.stats"),  messages("assets.title")
                                ).contains(title)) { active }" >
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">@messages("nav.moderator.message") <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li @if(title == messages("problem.list.title")) { class="active" }><a href="@org.ieee_passau.controllers.routes.ProblemController.index"        >@messages("problem.list.title")</a></li>
                                        <li @if(title == messages("ticket.list.title"))  { class="active" }><a href="@org.ieee_passau.controllers.routes.TicketController.index"         >@messages("ticket.list.title")</a></li>
                                        <li @if(title == messages("assets.title"))       { class="active" }><a href="@org.ieee_passau.controllers.routes.CmsController.listFiles()"      >@messages("assets.title")</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li @if(title == messages("submission.list.title")) { class="active" }><a href="@org.ieee_passau.controllers.routes.EvaluationController.index()">@messages("submission.list.title")</a></li>
                                        <li @if(title == messages("nav.admin.stats"))       { class="active" }><a href="@org.ieee_passau.controllers.routes.EvaluationController.stats"  >@messages("nav.admin.stats")</a></li>
                                    </ul>
                                </li>
                            }}
                            <li @if(title == messages(Page.contact.toString)) { class="active" }><a href="@org.ieee_passau.controllers.routes.CmsController.content(Page.contact.toString)">@messages(Page.contact.toString)</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            @if(sessionUser.isEmpty) {
                                <li @if(title == messages("nav.user.register")) { class="active" }><a href="@org.ieee_passau.controllers.routes.UserController.register">@messages("nav.user.register")</a></li>
                                <li @if(title == messages("nav.user.login"))    { class="active" }><a href="@org.ieee_passau.controllers.routes.UserController.login"   >@messages("nav.user.login")</a></li>
                            } else {
                                <li @if(title == messages("nav.user.logout")) { class="active" }><a href="@org.ieee_passau.controllers.routes.UserController.logout">@messages("nav.user.logout")</a></li>
                                <li class="navbar-text">@messages("nav.user.greeting", sessionUser.get.username, if(sessionUser.get.permission.includes(Admin)) messages("nav.admin.message") else "")</li>
                            }
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="lang-xs" lang="@lang.code"></span> <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                @for(l <- LanguageHelper.orderedLangs(lang)) {
                                    <li><a href="@org.ieee_passau.controllers.routes.UserController.updateLang(l.language)">
                                        <span class="lang-sm lang-lbl" lang="@l.code"></span>
                                    </a></li>
                                }
                                </ul>
                            </li>
                        </ul>
                    </div>
                    @* /.navbar-collapse *@
                </nav>
            </div>

            @* Flash messages *@
            <div id="flash-messages">
                @if(flash.get("success").isDefined) {
                    <div class="alert alert-success">@flash.get("success").get</div>
                }
                @if(flash.get("info").isDefined) {
                    <div class="alert alert-info">@flash.get("info").get</div>
                }
                @if(flash.get("warning").isDefined) {
                    <div class="alert alert-warning">@flash.get("warning").get</div>
                }
                @if(flash.get("danger").isDefined) {
                    <div class="alert alert-danger">@flash.get("danger").get</div>
                }
                @if(flash.get("system").isDefined) {
                    <div class="alert alert-info">@flash.get("system").get</div>
                }
                @if(flash.get("live-alert").isDefined) {
                    <div class="alert alert-info live-alert">@Html(flash.get("live-alert").get)</div>
                }
                @if(flash.get("notification").isDefined && (sessionUser.isEmpty || !sessionUser.get.notificationDismissed)) {
                    <div class="alert alert-info @if(sessionUser.isDefined) { alert-dismissible }" id="flash-notification">
                        @if(sessionUser.isDefined) {
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        }
                        @Html(flash.get("notification").get)
                    </div>
                }
            </div>

            @if(hasTitle) {
                <h3>@title</h3>
            }
            <div class="row box-round">
                <div id="content" class="col-sm-12">@content</div>
            </div>

            <div class="row footer box-round">
                <div class="col-sm-12" id="footer">
                    <small>@Html(messages("page.footer", org.ieee_passau.controllers.routes.CmsController.content(Page.contact.toString)))</small>
                </div>
            </div>
        </div>

        <script src="@routes.Assets.versioned("javascripts/jquery-3.4.1.min.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/timeago/jquery.timeago.js")"></script>
        <script src="@{val locale = lang.code; routes.Assets.versioned(s"javascripts/timeago/jquery.timeago.$locale.js")}"></script>
        <script src="@routes.Assets.versioned("javascripts/moment-with-locales.min.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/bootstrap/bootstrap.min.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/bootstrap/bootstrap-datetimepicker.min.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/highlight.pack.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/diff.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/summernote/summernote.min.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/cookieconsent/cookieconsent.min.js")"></script>
        <script src="@org.ieee_passau.controllers.routes.MasterController.javascriptRoutes"></script>
        @* <!--suppress JSUnusedLocalSymbols --> *@
        <script>
            const cookieText = "@messages("notification.cookie.text")";
            const cookieLink = "@messages("notification.cookie.link")";
            const cookieButton = "@messages("notification.cookie.button")";
        </script>
        @* This should always be the last import *@
        <script src="@routes.Assets.versioned("javascripts/scripts.js")"></script>
    </body>
</html>
}