@import controllers.routes
@import org.ieee_passau.models.User
@import play.api.i18n.{Lang, Messages}
@import play.api.mvc.Flash
@import play.twirl.api.Html
@import org.ieee_passau.utils.LanguageHelper
@import org.ieee_passau.models.Page
@(title: String, isFullPage: Boolean = false, hasTitle: Boolean = false)(content: Html)(implicit flash: Flash, sessionUser: Option[User], lang: Lang)
<!DOCTYPE html>

<html lang="@lang.code">
    <head>
        <meta charset="UTF-8">
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/highlight/idea.css")">
        <link rel="shortcut icon" type="image/x-icon" href="@routes.Assets.at("images/favicon.ico")">
    </head>
    <body>
        <div class='container @if(isFullPage) { fullbody }'>
            <div class="page-header">
                <h1>@Html(Messages("page.title"))</h1>
                <nav class="navbar navbar-default" role="navigation">
                        <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li @if(title == Messages("calendar"))     { class="active" }><a href="@org.ieee_passau.controllers.routes.MainController.calendar#doors">@Messages("calendar")</a></li>
                            <li @if(title == Messages("nav.problems")) { class="active" }><a href="@org.ieee_passau.controllers.routes.MainController.problems">@Messages("nav.problems")</a></li>
                            <li @if(title == Messages("nav.ranking"))  { class="active" }><a href="@org.ieee_passau.controllers.routes.MainController.ranking"       >@Messages("nav.ranking")</a></li>
                            <li class="dropdown @if(List(Messages(Page.news.toString), Messages(Page.rules.toString), Messages(Page.faq.toString), Messages(Page.examples.toString)).contains(title)) { active }" >
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Messages("nav.info") <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li @if(title == Messages(Page.news.toString))  { class="active" }><a href="@org.ieee_passau.controllers.routes.MainController.content(Page.news.toString)" >@Messages(Page.news.toString)</a></li>
                                    <li @if(title == Messages(Page.faq.toString))   { class="active" }><a href="@org.ieee_passau.controllers.routes.MainController.content(Page.faq.toString)"  >@Messages(Page.faq.toString)</a></li>
                                    <li @if(title == Messages(Page.rules.toString)) { class="active" }><a href="@org.ieee_passau.controllers.routes.MainController.content(Page.rules.toString)">@Messages(Page.rules.toString)</a></li>
                                </ul>
                            </li>
                            @if(sessionUser.isEmpty) {
                                <li @if(title == Messages("nav.user.register")) { class="active" }><a href="@org.ieee_passau.controllers.routes.UserController.register">@Messages("nav.user.register")</a></li>
                                <li @if(title == Messages("nav.user.login"))    { class="active" }><a href="@org.ieee_passau.controllers.routes.UserController.login"   >@Messages("nav.user.login")</a></li>
                            } else { @if(sessionUser.get.admin) {
                                <li class="dropdown
                                    @if(List(Messages("user.list.title"), Messages("problem.list.title"), Messages("ticket.list.title"),
                                    Messages("nav.admin.submissions"), Messages("nav.admin.evalqueue"), Messages("nav.admin.stats"),
                                    Messages("nav.admin.vms"), Messages("nav.admin.postings")).contains(title)) { active }" >
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Messages("nav.admin.message") <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li @if(title == Messages("user.list.title"))       { class="active" }><a href="@org.ieee_passau.controllers.routes.UserController.index"            >@Messages("user.list.title")</a></li>
                                        <li @if(title == Messages("problem.list.title"))    { class="active" }><a href="@org.ieee_passau.controllers.routes.ProblemController.index"         >@Messages("problem.list.title")</a></li>
                                        <li @if(title == Messages("ticket.list.title"))     { class="active" }><a href="@org.ieee_passau.controllers.routes.TicketController.index"          >@Messages("ticket.list.title")</a></li>
                                        <li @if(title == Messages("nav.admin.submissions")) { class="active" }><a href="@org.ieee_passau.controllers.routes.EvaluationController.index()"    >@Messages("nav.admin.submissions")</a></li>
                                        <li @if(title == Messages("nav.admin.evalqueue"))   { class="active" }><a href="@org.ieee_passau.controllers.routes.EvaluationController.indexQueued">@Messages("nav.admin.evalqueue")</a></li>
                                        <li @if(title == Messages("nav.admin.vms"))         { class="active" }><a href="@org.ieee_passau.controllers.routes.EvaluationController.vms"        >@Messages("nav.admin.vms")</a></li>
                                        <li @if(title == Messages("nav.admin.stats"))       { class="active" }><a href="@org.ieee_passau.controllers.routes.EvaluationController.stats"      >@Messages("nav.admin.stats")</a></li>
                                        <li @if(title == Messages("nav.admin.postings"))    { class="active" }><a href="@org.ieee_passau.controllers.routes.EvaluationController.maintenance">@Messages("nav.admin.postings")</a></li>
                                    </ul>
                                </li>
                            }}
                            <li @if(title == Messages(Page.contact.toString)) { class="active" }><a href="@org.ieee_passau.controllers.routes.MainController.content(Page.contact.toString)" >@Messages(Page.contact.toString)</a></li>
                            @*<li @if(title == Messages("nav.feedback")) { class="active" }><a href="@org.ieee_passau.controllers.routes.MainController.feedback">@Messages("nav.feedback")</a></li>*@
                            @if(sessionUser.isDefined) {
                                <li @if(title == Messages("nav.user.logout")) { class="active" }><a href="@org.ieee_passau.controllers.routes.UserController.logout">@Messages("nav.user.logout")</a></li>
                            }
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            @if(sessionUser.isDefined) {
                                <li class="navbar-text">
                                @Messages("nav.user.greeting", sessionUser.get.username, if(sessionUser.get.admin) Messages("nav.admin.message") else "")
                                </li>
                            }
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Messages("language.icon") <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                @for(l <- LanguageHelper.orderedLangs(lang)) {
                                    <li><a href="@org.ieee_passau.controllers.routes.UserController.updateLang(l.language)">
                                    @Messages("language.icon")(l)
                                    </a></li>
                                }
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </nav>
            </div>

            @* Flash messages *@
            @if(flash.get("success").isDefined) {
                <div class="alert alert-success">@Html(flash.get("success").get)</div>
            }
            @if(flash.get("info").isDefined) {
                <div class="alert alert-info">@Html(flash.get("info").get)</div>
            }
            @if(flash.get("warning").isDefined) {
                <div class="alert alert-warning">@Html(flash.get("warning").get)</div>
            }
            @if(flash.get("danger").isDefined) {
                <div class="alert alert-danger">@Html(flash.get("danger").get)</div>
            }

            @if(hasTitle) {
                <h3>@title</h3>
            }
            <div class="row box-round">
                <div id="content" class="col-sm-12">@content</div>
            </div>

            <div class="row footer box-round">
                <div class="col-sm-12" id="footer">
                    <small>@Html(Messages("page.footer"))</small>
                </div>
            </div>
        </div>
        <script src="@routes.Assets.at("javascripts/jquery-1.11.0.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/jquery.timeago.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/jquery.timeago.de.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/moment.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap-datetimepicker.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/highlight.pack.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/diff.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/tinymce/tinymce.min.js")" type="text/javascript"></script>
        <script type="text/javascript">
            // activate source highlighting
            hljs.initHighlightingOnLoad();

            $(document).ready(function () {
                // activate the datetimepickers
                $('.datetimepicker').datetimepicker();
                $('abbr.timeago').timeago();

                // activate diff
                applyDiff();
            });

            // activate pretty file input
            $(document).on('change', '.btn-file :file', function() {
                $(this).trigger('fileselect', $(this).val().replace(/\\/g, '/').replace(/.*\//, ''));
            });

            $(document).ready(function() {
                $('.btn-file :file').on('fileselect', function(event, label) {
                    $(this).parents('.input-group').find(':text').val(label);
                });
            });

            //Enable TinyMCE on all textareas with class 'wysiwyg'
            tinymce.init({selector:'textarea.wysiwyg', plugins: 'code link', browser_spellcheck: true, convert_urls: false});
        </script>
    </body>
</html>
