@import helper._
@import org.ieee_passau.controllers.routes
@import org.ieee_passau.models.{ProblemTranslation, User}
@import org.ieee_passau.views.html.main
@import play.api.data.Form
@import play.api.mvc.{Flash, RequestHeader}
@(pid: Int, trans: Form[ProblemTranslation])(implicit flash: Flash, sessionUser: Option[User], requestHeader: RequestHeader, messages: Messages, messagesApi: MessagesApi)

@main(messages("problem.translation.edit")) {

    <ol class="breadcrumb">
        <li><a href="@org.ieee_passau.controllers.routes.ProblemController.index">@messages("general.listoverview")</a></li>
        <li><a href="@org.ieee_passau.controllers.routes.ProblemController.edit(pid)">@messages("problem.title")</a></li>
        <li class="active">@messages("problem.translation.title")</li>
    </ol>

    @form(routes.ProblemController.updateTranslation(pid, trans("language").value.get), 'class -> "form-horizontal") {
        @CSRF.formField
        <fieldset>
            <div class="well">
                @_form(pid, trans)(messages, messagesApi)
            </div>
        </fieldset>
    }
}
