@import org.ieee_passau.models.ProblemTranslation
@import play.api.i18n.{Lang, MessagesApi}
@import play.api.mvc.RequestHeader
@import views.html.helper.CSRF
@(pid: Int, translations: List[ProblemTranslation])(implicit requestHeader: RequestHeader, messagesApi: MessagesApi, lang: Lang)

<table class="table table-striped">
    <thead>
        <tr>
            <th>@messagesApi("general.language")</th>
            <th>@messagesApi("problem.name")</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @translations.map { trans =>
            <tr>
                <td>@messagesApi("language.name")(trans.language)</td>
                <td>@trans.title</td>
                <td>
                    <a href="@org.ieee_passau.controllers.routes.ProblemController.editTranslation(pid, trans.language.code)" class="btn btn-default">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>

                    <form style="display: inline" method="POST" action="@org.ieee_passau.controllers.routes.ProblemController.deleteTranslation(pid, trans.language.code)">
                        @CSRF.formField
                        <button type="submit" onclick="return(window.confirm('@messagesApi("general.delete.confirm")'))" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </form>
                </td>
            </tr>
        }
        <tr>
            <td></td>
            <td></td>
            <td>
                <a href="@org.ieee_passau.controllers.routes.ProblemController.addTranslation(pid)" class="btn btn-default">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </td>
    <tr>
    </tbody>
</table>
