@import helper._
@import org.ieee_passau.models.{Problem, Ticket, User}
@import org.ieee_passau.utils.ViewHelper._
@import org.ieee_passau.views.html.main
@import play.api.i18n.{Lang, Messages}
@import play.api.mvc.{Flash, RequestHeader}
@(tickets: List[(Ticket, User, Problem, Boolean)])(implicit flash: Flash, sessionUser: Option[User], requestHeader: RequestHeader, lang: Lang)

@main(Messages("ticket.list.title")) {
    <table class="table table-striped">
        <thead>
            <tr>
                <th>@Messages("general.id")</th>
                <th>@Messages("problem.title")</th>
                <th>@Messages("user.title")</th>
                <th>@Messages("ticket.date")</th>
                <th>@Messages("ticket.public")</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @tickets.map { case (t: Ticket, u: User, p: Problem, answered: Boolean) =>
            <tr class="@if(answered) {success}">
                <td>@t.id</td>
                <td>@p.door @p.title</td>
                <td>@u.username</td>
                <td>@t.created.format("dd.MM.yyyy HH:mm")</td>
                <td>@showCheckmark(t.public)</td>
                <td>
                    <a href="@org.ieee_passau.controllers.routes.TicketController.view(t.id.get)" class="btn btn-default">
                        @if(answered) {
                            <span class="glyphicon glyphicon-pencil"></span>
                        } else {
                            <span class="glyphicon glyphicon-send"></span>
                        }
                    </a>

                    <form style="display : inline" method="POST" action="@org.ieee_passau.controllers.routes.TicketController.delete(t.id.get)">
                    @CSRF.formField
                        <button type="submit" onclick="return(window.confirm('@Messages("general.delete.confirm")'))" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </form>
                </td>
            </tr>
        }
        </tbody>
    </table>
}
