@import org.ieee_passau.controllers.Beans.TicketText
@import org.ieee_passau.models.{Problem, Ticket, User}
@import org.ieee_passau.views.html.bootstrap3.{buttonSave, checkboxBs, textareaBs}
@import org.ieee_passau.views.html.main
@import play.api.data.Form
@import play.api.mvc.{Flash, RequestHeader}
@import views.html.helper.{CSRF, form}
@(ticket: (Ticket, User, Problem), answers: List[(Ticket, String)], ticketForm: Form[TicketText])(implicit flash: Flash, sessionUser: Option[User], requestHeader: RequestHeader, messages: Messages, messagesApi: MessagesApi)

@main(messages("ticket.list.show")) {
    <ol class="breadcrumb">
        <li><a href="@org.ieee_passau.controllers.routes.TicketController.index">@messages("general.listoverview")</a></li>
        <li class="active">@messages("ticket.title")</li>
    </ol>

    @defining((ticket._1, ticket._2.username) +: answers) { list: List[(Ticket, String)] =>
        @ticketView(list, expanded = true, admin = true)
    }

    @form(org.ieee_passau.controllers.routes.TicketController.answerTicket(ticket._1.id.get), 'class -> "form-horizontal") {
        @CSRF.formField
        <div class="well">
            <div class="form-group">
                <label class="col-sm-2 control-label">@messages("general.language")</label>
                <div class="col-sm-10">
                    <input type="text"
                           class="form-control"
                           value="@messagesApi("language.name")(ticket._1.language)"
                           disabled/>
                    <input type="hidden" name="title" value="@ticket._1.language.code" />
                    <span class="help-block"></span>
                </div>
            </div>
            @checkboxBs(ticketForm("public"), label = messages("ticket.public"))
            @textareaBs(ticketForm("text"), label = messages("ticket.answers.title"))
            @buttonSave()
        </div>
    }
}
