@import org.ieee_passau.controllers.Beans.TicketText
@import org.ieee_passau.models.{Problem, Ticket, User}
@import org.ieee_passau.views.html.bootstrap3.{buttonSave, checkboxBs, textareaBs}
@import org.ieee_passau.views.html.main
@import play.api.data.Form
@import play.api.i18n.Lang
@import play.api.mvc.{Flash, RequestHeader}
@import views.html.helper.{CSRF, form}
@(ticket: (Ticket, User, Problem), answers: List[(Ticket, String)], ticketForm: Form[TicketText])(implicit flash: Flash, sessionUser: Option[User], requestHeader: RequestHeader, lang: Lang)

@main("Fragen anzeigen") {
    @defining((ticket._1, ticket._2.username) +: answers) { list: List[(Ticket, String)] =>
        @ticketView(list, expanded = true, admin = true)
    }

    @form(org.ieee_passau.controllers.routes.TicketController.answerTicket(ticket._1.id.get), 'class -> "form-horizontal") {
        @CSRF.formField
        <div class="well">
            @checkboxBs(ticketForm("public"), label = "Öffentlich")
            @textareaBs(ticketForm("text"), label = "Antwort")
            @buttonSave()
        </div>
    }
}