@import org.ieee_passau.models.{Language, User}
@import org.ieee_passau.utils.FutureHelper
@import org.ieee_passau.utils.ViewHelper.showCheckmark
@import org.ieee_passau.views.html.main
@import play.api.Configuration
@import play.api.mvc.RequestHeader
@(languages: List[Language])(implicit flash: Flash, sessionUser: Option[User], requestHeader: RequestHeader, messages: Messages, config: Configuration)

@main(messages("codelang.list.title")) {
    <table class="table table-striped">
        <thead>
            <tr>
                <th>@messages("general.id")</th>
                <th>@messages("codelang.name_and_version")</th>
                <th>@messages("codelang.cpufactor", FutureHelper.makeDuration(config.getOptional[String]("evaluator.eval.basetime").getOrElse("60 seconds")).toSeconds)</th>
                <th>@messages("codelang.memfactor", config.getOptional[Int]("evaluator.eval.basemem").getOrElse(100))</th>
                <th>@messages("codelang.active")</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @languages.map { lang =>
                <tr>
                    <td>@lang.id</td>
                    <td>@lang.name</td>
                    <td>@lang.cpuFactor</td>
                    <td>@lang.memFactor</td>
                    <td>@showCheckmark(lang.active)</td>
                    <td>
                        <a href="@org.ieee_passau.controllers.routes.LanguageController.edit(lang.id)" class="btn btn-default">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                    </td>
                </tr>
            }
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <a href="@org.ieee_passau.controllers.routes.LanguageController.insert" class="btn btn-default">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </td>
        <tr>
        </tbody>
    </table>
}
