@import helper._
@import org.ieee_passau.models.{Language, User}
@import org.ieee_passau.views.html.bootstrap3.{buttonSave, number, text}
@import org.ieee_passau.views.html.main
@import play.api.data.Form
@import play.api.i18n.{Lang, MessagesApi}
@import play.api.mvc.{Flash, RequestHeader}
@(language: Form[Language])(implicit flash: Flash, sessionUser: Option[User], requestHeader: RequestHeader, messagesApi: MessagesApi, lang: Lang)

@main(messagesApi("codelang.create")) {

    <ol class="breadcrumb">
        <li><a href="@org.ieee_passau.controllers.routes.LanguageController.index">@messagesApi("general.listoverview")</a></li>
        <li class="active">@messagesApi("codelang.title")</li>
    </ol>

    @form(org.ieee_passau.controllers.routes.LanguageController.save, 'class -> "form-horizontal") {
        @CSRF.formField
        <fieldset>
            <div class="well">
                @text(language("id"), label = messagesApi("general.id"), placeholder = "C")
                @text(language("name"), label = messagesApi("codelang.name") , placeholder = "C, gcc")
                @text(language("extension"), label = messagesApi("codelang.fileextension"), placeholder = messagesApi("codelang.fileextension"), help = messagesApi("codelang.fileextension.help"))
                @text(language("highlightClass"), label = messagesApi("codelang.highlightclass"), placeholder = "c")
                @number(language("cpuFactor"), label = messagesApi("codelang.cpufactor"), step=0.1f)
                @number(language("memFactor"), label = messagesApi("codelang.memfactor"), step=0.1f)
                @text(language("comment"), label = messagesApi("codelang.comment"))

                @buttonSave()
            </div>
        </fieldset>
    }
}
