@import org.ieee_passau.models.{Admin, Language, User}
@import org.ieee_passau.utils.FutureHelper
@import org.ieee_passau.views.html.main
@import play.api.Configuration
@import play.api.mvc.RequestHeader
@(languages: List[Language])(implicit flash: Flash, sessionUser: Option[User], requestHeader: RequestHeader, messages: Messages, config: Configuration)

@main(messages("codelang.list.title") + " ") {
    <table class="table table-striped">
        <thead>
            <tr>
                <th>@messages("codelang.title")</th>
                <th>@messages("codelang.name")</th>
                <th>@messages("codelang.time")</th>
                <th>@messages("codelang.memory")</th>
                <th>@messages("codelang.comment")</th>
            </tr>
        </thead>
        <tbody>
            @languages.map { lng =>
                <tr>
                @defining(lng.name.indexOf(",")) { split: Int =>
                    <td>@lng.name.substring(0, split)</td>
                    <td>@lng.name.substring(split + 2)</td>
                }
                    <td>@(FutureHelper.makeDuration(config.getOptional[String]("evaluator.eval.basetime").getOrElse("60 seconds")).mul(lng.cpuFactor).toSeconds) @messages("general.seconds")</td>
                    <td>@((lng.memFactor * config.getOptional[Int]("evaluator.eval.basemem").getOrElse(100)).floor.toInt) MB</td>
                    <td>@Html(lng.comment)</td>
                </tr>
            }
        </tbody>
    </table>

    @if(sessionUser.isDefined && sessionUser.get.permission.includes(Admin)) {
        <p class="text-right">
            <a class="btn btn-default" href="@org.ieee_passau.controllers.routes.LanguageController.index"><span class="glyphicon glyphicon-pencil"></span> @messages("general.edit")</a>
        </p>
    }
}
