@import helper._
@import org.ieee_passau.models.User
@import org.ieee_passau.views.html.bootstrap3._
@import org.ieee_passau.views.html.main
@import play.api.data.Form
@import play.api.i18n.{Lang, Messages}
@import play.api.mvc.{Flash, RequestHeader}
@(id: Int, user: Form[User])(implicit flash: Flash, sessionUser: Option[User], requestHeader: RequestHeader, lang: Lang)

@main(Messages("user.edit")) {
    @form(org.ieee_passau.controllers.routes.UserController.update(id), 'class -> "form-horizontal") {
        @CSRF.formField
        <fieldset>
                <div class="well">
                @text(user("username"), label = Messages("user.username"), placeholder = Messages("user.username"))
                @password(user("password"), label = Messages("user.password"), placeholder = Messages("user.password"))
                @text(user("email"), label = Messages("user.email"), placeholder = Messages("user.email"))
                @checkboxBs(user("active"), label = Messages("user.active"))
                @checkboxBs(user("admin"), label = Messages("user.admin"))
                @checkboxBs(user("hidden"), label = Messages("user.hidden"))
                @text(user("school"), label = Messages("user.school"), placeholder = Messages("user.school"))
                @text(user("semester"), label = Messages("user.semester"), placeholder = Messages("user.semester"))
                @text(user("studySubject"), label = Messages("user.studysubject"), placeholder = Messages("user.studysubject"))

                @buttonSave()
            </div>
        </fieldset>
    }
    <p class="text-right">
        <a class="btn btn-default" href="@org.ieee_passau.controllers.routes.UserController.impersonate(id)"><span class="glyphicon glyphicon-user"></span> @Messages("user.impersonate")</a>
    </p>
}
