@import helper._
@import org.ieee_passau.models.{Permission, User}
@import org.ieee_passau.views.html.bootstrap3._
@import org.ieee_passau.views.html.main
@import play.api.data.Form
@import play.api.mvc.{Flash, RequestHeader}
@(id: Int, user: Form[User], permissions: List[Permission])(implicit flash: Flash, sessionUser: Option[User], requestHeader: RequestHeader, messages: Messages)

@main(messages("user.edit")) {
    @form(org.ieee_passau.controllers.routes.UserController.update(id), 'class -> "form-horizontal") {
        @CSRF.formField
        <fieldset>
            <div class="well">
                @text(user("username"), label = messages("user.username"), placeholder = messages("user.username"))
                @password(user("password"), label = messages("user.password"), placeholder = messages("user.password"), required = false, help = messages("user.update.password"))
                @text(user("email"), label = messages("user.email"), placeholder = messages("user.email"))
                @checkboxBs(user("active"), label = messages("user.active"))
                @checkboxBs(user("hidden"), label = messages("user.hidden"))
                <div class="form-group">
                    <label for="evalMode" class="col-sm-2 control-label">@messages("user.permission")</label>
                    <div class="col-sm-10">
                        <select id="evalMode" size="1" name="permission" class="col-sm-10 form-control">
                        @permissions.map { mode =>
                            <option value="@mode.name" @{if(user.value.isDefined && mode == user.get.permission) "selected" }>@messages(mode.toString)</option>
                        }
                        </select>
                    </div>
                </div>

                @buttonSave()
            </div>
        </fieldset>
    }
    <p class="text-right">
        <a class="btn btn-default" href="@org.ieee_passau.controllers.routes.UserController.impersonate(id)"><span class="glyphicon glyphicon-user"></span> @messages("user.impersonate")</a>
    </p>
}
