@import helper._
@import org.ieee_passau.models.User
@import org.ieee_passau.utils.ViewHelper._
@import org.ieee_passau.views.html.main
@import play.api.i18n.{Lang, Messages}
@import play.api.mvc.{Flash, RequestHeader}
@(users: List[User])(implicit flash: Flash, sessionUser: Option[User], requestHeader: RequestHeader, lang: Lang)

@main(Messages("user.list.title")) {
    <table class="table table-striped">
        <thead>
            <tr>
                <th>@Messages("general.id")</th>
                <th>@Messages("user.title")</th>
                <th>@Messages("user.email")</th>
                <th>@Messages("user.active")</th>
                <th>@Messages("user.permission")</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @users.map { user =>
            <tr>
                <td>@user.id</td>
                <td>@user.username</td>
                <td>@user.email</td>
                <td>@showCheckmark(user.active)</td>
                <td>@Messages(user.permission.name.toLowerCase)</td>
                <td>
                    <a href="@org.ieee_passau.controllers.routes.UserController.edit(user.id.get)" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span></a>
                    <form style="display: inline" method="POST" action="@org.ieee_passau.controllers.routes.UserController.delete(user.id.get)">
                        @CSRF.formField
                        <button type="submit" onclick="return(window.confirm('@Messages("general.delete.confirm")'))" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></button>
                    </form>
                </td>
            </tr>
        }
        </tbody>
    </table>
}
