@import helper._
@import org.ieee_passau.models.User
@import org.ieee_passau.views.html.bootstrap3.text
@import org.ieee_passau.views.html.main
@import play.api.data.Form
@import play.api.i18n.Lang
@import play.api.mvc.{Flash, RequestHeader}
@(passwordForm: Form[(String)])(implicit flash: Flash, sessionUser: Option[User], requestHeader: RequestHeader, lang: Lang)

@main("Passwort zurücksetzen") {
    <div class="well col-md-8 col-md-offset-2">
        @if(passwordForm.hasGlobalErrors) {
            <div class="alert alert-danger">
            @for(err <- passwordForm.globalErrors) {
                @err.message
            }
            </div>
        }

        @form(org.ieee_passau.controllers.routes.UserController.requestPassword, 'class -> "form-horizontal") {
            @CSRF.formField
            <fieldset>
                @text(passwordForm("username"), label = "Benutzername", placeholder = "Benutzername")

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button id="submit" type="submit" value="Submit" class="btn btn-primary">Zurücksetzen</button>
                    </div>
                </div>
            </fieldset>
        }
    </div>
}