@import helper._
@import org.ieee_passau.models.User
@import org.ieee_passau.views.html.bootstrap3.password2
@import org.ieee_passau.views.html.main
@import play.api.data.Form
@import play.api.mvc.{Flash, RequestHeader}
@(token: String, passwordForm: Form[String])(implicit flash: Flash, sessionUser: Option[User], requestHeader: RequestHeader, messages: Messages)

@main(messages("nav.user.resetpassword")) {
    <div class="well col-md-8 col-md-offset-2">
        @if(passwordForm.hasGlobalErrors) {
            <div class="alert alert-danger">
            @for(err <- passwordForm.globalErrors) {
                @err.message
            }
            </div>
        }

        @form(org.ieee_passau.controllers.routes.UserController.updatePassword(token), Symbol("class") -> "form-horizontal") {
            @CSRF.formField
            <fieldset>
                @password2(passwordForm("password"), passwordForm("password.main"), passwordForm("password.repeat"),
                    label1 = messages("user.password") + "*", label2 = " " + messages("user.password.repeat") + "*",
                    placeholder = messages("user.password"), help = messages("user.help.password"))
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button id="submit" type="submit" value="Submit" class="btn btn-primary">@messages("general.save")</button>
                    </div>
                </div>
            </fieldset>
        }
    </div>
}
